 <!-- Blog Start -->
  <section class="tz-blog-page tz-bg-neutral2 tz-pt-60 tz-pb-60 tz-pt-lg-120 tz-pb-lg-120">
    <div class="container">
      <div class="row g-4">
        <div class="col-md-6 col-xl-4">
          <div class="tz-blog1-card">
            <div class="tz-blog1-card__image">
              <img src="assets/images/blog/blog1-img1.jpg" alt="img">
              <span class="tz-blog1-card__tag tz-text-m text-uppercase">Branding</span>
            </div>

            <div class="tz-blog1-card__content">
              <p class="tz-blog1-card__date tz-text-m tz-text-neutral6 fw-light">
                March 4, 2025
              </p>
              <h4 class="tz-blog1-card__title tz-text-neutral5">
                The Role of Storytelling inh4 Modern Digital Marketing
              </h4>
              <div class="tz-buttons d-flex justify-content-start justify-content-md-end">
                <a class='tz-button text-uppercase fw-medium tz-text-m' href='/blog-single'>
                  Read More</a>
                <a class="tz-button-circle" href="/blog-single"><i class="ph ph-arrow-up-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-4">
          <div class="tz-blog1-card">
            <div class="tz-blog1-card__image">
              <img src="assets/images/blog/blog1-img2.jpg" alt="img">
              <span class="tz-blog1-card__tag tz-text-m text-uppercase">DESIGN</span>
            </div>

            <div class="tz-blog1-card__content">
              <p class="tz-blog1-card__date tz-text-m tz-text-neutral6 fw-light">
                March 4, 2025
              </p>
              <h4 class="tz-blog1-card__title tz-text-neutral5">
                How to Create a Social Media Strategy That Drives Real Results
              </h4>
              <div class="tz-buttons d-flex justify-content-start justify-content-md-end">
                <a class='tz-button text-uppercase fw-medium tz-text-m' href='/blog-single'>
                  Read More</a>
                <a class="tz-button-circle" href="/blog-single"><i class="ph ph-arrow-up-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-4">
          <div class="tz-blog1-card">
            <div class="tz-blog1-card__image">
              <img src="assets/images/blog/blog1-img3.jpg" alt="img">
              <span class="tz-blog1-card__tag tz-text-m text-uppercase">MARKETING</span>
            </div>

            <div class="tz-blog1-card__content">
              <p class="tz-blog1-card__date tz-text-m tz-text-neutral6 fw-light">
                March 4, 2025
              </p>
              <h4 class="tz-blog1-card__title tz-text-neutral5">
                How to Use Google Analytics to Track Your Website’s
                Performance
              </h4>
              <div class="tz-buttons d-flex justify-content-start justify-content-md-end">
                <a class='tz-button text-uppercase fw-medium tz-text-m' href='/blog-single'>
                  Read More</a>
                <a class="tz-button-circle" href="/blog-single"><i class="ph ph-arrow-up-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-4">
          <div class="tz-blog1-card">
            <div class="tz-blog1-card__image">
              <img src="assets/images/blog/blog1-img1.jpg" alt="img">
              <span class="tz-blog1-card__tag tz-text-m text-uppercase">Branding</span>
            </div>

            <div class="tz-blog1-card__content">
              <p class="tz-blog1-card__date tz-text-m tz-text-neutral6 fw-light">
                March 4, 2025
              </p>
              <h4 class="tz-blog1-card__title tz-text-neutral5">
                The Role of Storytelling inh4 Modern Digital Marketing
              </h4>
              <div class="tz-buttons d-flex justify-content-start justify-content-md-end">
                <a class='tz-button text-uppercase fw-medium tz-text-m' href='/blog-single'>
                  Read More</a>
                <a class="tz-button-circle" href="/blog-single"><i class="ph ph-arrow-up-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-4">
          <div class="tz-blog1-card">
            <div class="tz-blog1-card__image">
              <img src="assets/images/blog/blog1-img2.jpg" alt="img">
              <span class="tz-blog1-card__tag tz-text-m text-uppercase">DESIGN</span>
            </div>

            <div class="tz-blog1-card__content">
              <p class="tz-blog1-card__date tz-text-m tz-text-neutral6 fw-light">
                March 4, 2025
              </p>
              <h4 class="tz-blog1-card__title tz-text-neutral5">
                How to Create a Social Media Strategy That Drives Real Results
              </h4>
              <div class="tz-buttons d-flex justify-content-start justify-content-md-end">
                <a class='tz-button text-uppercase fw-medium tz-text-m' href='/blog-single'>
                  Read More</a>
                <a class="tz-button-circle" href="/blog-single"><i class="ph ph-arrow-up-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-4">
          <div class="tz-blog1-card">
            <div class="tz-blog1-card__image">
              <img src="assets/images/blog/blog1-img3.jpg" alt="img">
              <span class="tz-blog1-card__tag tz-text-m text-uppercase">MARKETING</span>
            </div>

            <div class="tz-blog1-card__content">
              <p class="tz-blog1-card__date tz-text-m tz-text-neutral6 fw-light">
                March 4, 2025
              </p>
              <h4 class="tz-blog1-card__title tz-text-neutral5">
                How to Use Google Analytics to Track Your Website’s
                Performance
              </h4>
              <div class="tz-buttons d-flex justify-content-start justify-content-md-end">
                <a class='tz-button text-uppercase fw-medium tz-text-m' href='/blog-single'>
                  Read More</a>
                <a class="tz-button-circle" href="/blog-single"><i class="ph ph-arrow-up-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ul class="tz-pagination list-unstyled">
        <li>
          <a class="prev-btn" href="#"><span class="post-pagination__text tz-text-m"><i
                class="ph ph-caret-double-left"></i></span></a>
        </li>
        <li>
          <a class="tz-pagination__page" href="#">1</a>
        </li>
        <li>
          <a class="tz-pagination__page" href="#">2</a>
        </li>
        <li>
          <a class="tz-pagination__page active" href="#">3</a>
        </li>
        <li>
          <a class="tz-pagination__page" href="#">4</a>
        </li>
        <li>
          <a class="tz-pagination__page" href="#">4</a>
        </li>
        <li class="active">
          <a class="next-btn" href="#"><span class="post-pagination__text tz-text-m"><i
                class="ph ph-caret-double-right"></i></span></a>
        </li>
      </ul>
    </div>
  </section>
  <!-- Blog End -->