<div class="tz-service-details-sidebar__widget">
              <h4 class="tz-service-details-sidebar__title">
                Company profile
              </h4>
              <div class="tz-service-details-sidebar__file-list">
                <a href="assets/pdf/pdf-file.html" download="Document_of_Business.html"
                  class="tz-service-details-sidebar__file-item tz-text-l">
                  <i class="ph ph-file-archive"></i> Document of Business
                </a>
                <a href="assets/pdf/pdf-file.html" download="Document_of_Word.html"
                  class="tz-service-details-sidebar__file-item tz-text-l">
                  <i class="ph ph-file-archive"></i> Download Word File
                </a>
              </div>
            </div>