<div class="tz-service-details-sidebar__widget">
  <h4 class="tz-service-details-sidebar__title poppins-semibold">
    Company profile
  </h4>
  <div class="tz-service-details-sidebar__file-list">
    <a
      href="#"
      download=""
      class="tz-service-details-sidebar__file-item tz-text-l montserrat-regular"
    >
      <i class="ph ph-file-archive"></i> Document of Business
    </a>
    <a
      href="#"
      download=""
      class="tz-service-details-sidebar__file-item tz-text-l montserrat-regular"
    >
      <i class="ph ph-file-archive"></i> Download Word File
    </a>
  </div>
</div>
