<div class="tz-service-details-sidebar__widget">
              <h4 class="tz-service-details-sidebar__title">All Services</h4>
              <div class="tz-service-details-sidebar__service-list">
                <a class='tz-service-details-sidebar__service-item tz-text-m' href='service-details.html'>
                  UI/UX design <i class="ph ph-caret-right"></i>
                </a>
                <a class='tz-service-details-sidebar__service-item tz-text-m' href='service-details.html'>
                  Web development <i class="ph ph-caret-right"></i>
                </a>
                <a class='tz-service-details-sidebar__service-item tz-text-m' href='service-details.html'>
                  3D designs <i class="ph ph-caret-right"></i>
                </a>
                <a class='tz-service-details-sidebar__service-item tz-text-m' href='service-details.html'>
                  Digital marketing design <i class="ph ph-caret-right"></i>
                </a>
                <a class='tz-service-details-sidebar__service-item tz-text-m' href='service-details.html'>
                  Logos & branding <i class="ph ph-caret-right"></i>
                </a>
              </div>
            </div>