<div class="tz-service-details-sidebar__widget">
  <h4 class="tz-service-details-sidebar__title poppins-semibold">
    All Services
  </h4>
  <div class="tz-service-details-sidebar__service-list">
    <a
      class="tz-service-details-sidebar__service-item tz-text-m montserrat-regular"
      href="/digital-and-brand-marketing"
    >
      Digital & Brand Marketing <i class="ph ph-caret-right"></i>
    </a>
    <a
      class="tz-service-details-sidebar__service-item tz-text-m montserrat-regular"
      href="/digital-transformation"
    >
      Digital Transformation <i class="ph ph-caret-right"></i>
    </a>
    <a
      class="tz-service-details-sidebar__service-item tz-text-m montserrat-regular"
      href="/website-and-app-development"
    >
      Website & App Development <i class="ph ph-caret-right"></i>
    </a>
    <a
      class="tz-service-details-sidebar__service-item tz-text-m montserrat-regular"
      href="/product-design-and-development"
    >
      Product Design & Development <i class="ph ph-caret-right"></i>
    </a>
  </div>
</div>
