<!-- Breadcrumb Start -->
<section
  class="tz-breadcrumb"
  style="
        background-image: url('assets/images/breadcrumb/breadcrumb-img.jpg');
      "
>
  <div class="tz-breadcrumb__overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="tz-breadcrumb__content">
          <h5
            class="tz-breadcrumb__title tz-display-4 tz-text-neutral5 text-uppercase poppins-semibold"
          >
            About Us
          </h5>
          <div class="tz-breadcrumb__menu tz-text-l text-uppercase">
            <nav aria-label="tz-breadcrumb__nav">
              <ul class="tz-breadcrumb__list">
                <li class="tz-breadcrumb__item">
                  <a href="/" class="montserrat-regular">Home</a>
                </li>
                <li class="tz-breadcrumb__item active">
                  <i class="ph ph-caret-double-right"></i>
                </li>
                <li
                  class="tz-breadcrumb__item active montserrat-regular"
                  aria-current="page"
                >
                  About Us
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb End -->
