  <!-- About Start -->
  <section class="tz-about2">
    <div class="container">
      <div class="row g-4">
        <div class="col-xl-9">
          <div class="row g-4">
            <div class="col-md-9  wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1">
              <div class="tz-section-top">
                <div class="tz-section-subtitle">
                  <span class="tz-section-subtitle__line"></span>
                  <h4 class="text-uppercase tz-text-primary">
                    ABOUT OUR AGENCY
                  </h4>
                </div>
                <div class="tz-section-title tz-display-2 text-uppercase tz-mb-10">
                  Our Approach
                </div>
                <p class="tz-about2__desc tz-text-l tz-text-neutral6 fw-light">
                  We’re a team expert designers, web developers and marketers
                  of who’ve been delivering digital success for more than a
                  decade. We excel at marketing websites.
                </p>
              </div>
            </div>
          </div>
          <div class="row g-4">
            <div class="col-md-5">
              <img class="wow fadeInUp img-custom-anim-top" data-wow-delay=".3s" src="assets/images/about/about2-img1.jpg" alt="img">
            </div>
            <div class="col-md-7">
              <div class="tz-about2-content">
                <div class="tz-about2__title text-uppercase tz-display-3 tz-text-neutral5 lh-1 tz-pb-10">
                  We’re More Than Just a Digital Agency
                </div>
                <p class="tz-about2__desc tz-text-l tz-text-neutral6 fw-light">
                  At DigiFlow we don’t just create websites or run
                  campaigns—we build team of passionate strategists,
                  designers, developers, and marketers of innovation to
                  transform businesses.
                </p>
                <div class="row g-2 tz-pt-30 tz-pt-lg-60 tz-pb-20 tz-pb-lg-40">
                  <div class="col-md-6  wow fadeInLeft" data-wow-delay=".6s" data-wow-duration="1">
                    <h4 class="tz-about2__subtitle tz-text-neutral5 fw-semibold">
                      Collaborative Approach
                    </h4>
                    <p class="tz-about2__desc tz-text-l tz-text-neutral6 fw-light">
                      We work closely with you to understand your goals and
                      deliver solutions that align with your vision.
                    </p>
                  </div>
                  <div class="col-md-6  wow fadeInLeft" data-wow-delay=".7s" data-wow-duration="1">
                    <h4 class="tz-about2__subtitle tz-text-neutral5 fw-semibold">
                      Creative Excellence
                    </h4>
                    <p class="tz-about2__desc tz-text-l tz-text-neutral6 fw-light">
                      From design to development, we combine artistry with
                      technology create experiences.
                    </p>
                  </div>
                </div>
                <div class="tz-buttons">
                  <a class='tz-button text-uppercase fw-medium tz-text-m' href='portfolio-details.html'>
                    Our Portfolio</a>
                  <a class='tz-button-circle' href='portfolio-details.html'><i class="ph ph-arrow-up-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="tz-about2-experience">
            <img class="wow fadeInUp img-custom-anim-right" data-wow-delay=".4s" src="assets/images/about/about2-img2.jpg" alt="img">
            <div class="tz-about2-experience__counter tz-text-neutral5 tz-pt-30 tz-pt-lg-60">
              <h5 class="tz-about2-experience__number tz-cn">25</h5>
              <span class="tz-about2-experience__plus">+</span>
            </div>
            <p class="tz-about2-experience__text tz-text-l tz-text-neutral5 text-uppercase">
              YEARS EXPERIENCE
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About End -->