<!-- Subscribe Start -->
<div
  class="tz-subscribe1 wow fadeInUp"
  data-wow-delay=".6s"
  data-wow-duration="1"
>
  <div class="container">
    <div class="tz-subscribe1__wrapper">
      <div class="row g-4 d-flex justify-content-between">
        <div class="col-md-5">
          <div
            class="tz-subscribe1__title tz-display-3 text-uppercase wow fadeInUp img-custom-anim-left poppins-bold"
            data-wow-delay=".3s"
          >
            Need a Reliable Digital Partner? Let's Talk.
          </div>
          <p>
            Need a Reliable Digital Partner? Let's Talk. We’re just a call or
            email away. Get a free 15-minute consultation and project roadmap.
          </p>
        </div>
        <div class="col-md-5 d-flex justify-content-center">
          <!-- <form action="#" class="tz-subscribe1__search">
            <input
              type="text"
              class="form-control tz-text-m"
              placeholder="Enter Your Email"
              autocomplete="off"
            /><button type="submit">
              <i class="ph ph-paper-plane-tilt"></i>
            </button>
          </form> -->
          <div class="tz-buttons">
            <a
              class="tz-button text-uppercase fw-medium tz-text-m montserrat-regular"
              href="/contact-us"
              style="background-color: white"
            >
              Book a Free Consultation</a
            >
            <a
              class="tz-button-circle"
              href="/contact-us"
              style="background-color: white"
              ><i class="ph ph-arrow-up-right"></i></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Subscribe End -->
