<!-- Banner Start -->
  <div class="tz-banner2">
    <div class="container">
      <img src="assets/images/banner/banner1-gradient-left.png" alt="img" class="position-absolute bottom-0 start-0">
      <img src="assets/images/banner/banner1-gradient-right.png" alt="img" class="position-absolute top-0 end-0">
      <img src="assets/images/banner/banner2-left-shape.png" alt="img" class="position-absolute top-0 start-0">
      <img src="assets/images/banner/banner2-right-shape.png" alt="img" class="position-absolute bottom-0 end-0">
      <div class="row gy-4">
        <div class="col-xl-2 d-flex justify-content-between d-xl-block position-relative z-1">
          <p class="tz-banner2__desc tz-text-l wow fadeInUp img-custom-anim-left" data-wow-delay=".5s">
            Building <br>
            Outstanding <br>
            Design & <br>
            Development
          </p>
          <div class="tz-banner2__arrow">
            <img src="assets/images/banner/banner2-arrow.png" alt="">
          </div>
          <div class="tz-banner2__info">
            <div class="tz-banner2-counter">
              <div class="tz-display-4 tz-text-neutral5 lh-1">
                2.5<span>M</span>
              </div>
            </div>
            <p class="tz-banner2__desc tz-text-l">
              We happy customer <br>
              word-wide
            </p>
            <div class="tz-banner1-highlight  wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1">
              <div class="tz-banner1-highlight__avatars">
                <img src="assets/images/banner/banner1-avatar1.png" alt="Client 1" class="tz-banner1-highlight__avatar">
                <img src="assets/images/banner/banner1-avatar2.png" alt="Client 2" class="tz-banner1-highlight__avatar">
                <img src="assets/images/banner/banner1-avatar3.png" alt="Client 2" class="tz-banner1-highlight__avatar">
                <span class="tz-banner1-highlight__badge tz-text-neutral5 tz-text-m fw-medium">
                  25k
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-9 position-relative z-1">
          <div class="row g-2">
            <div class="col-md-9">
              <h5 class="tz-banner2__title tz-text-neutral5 wow fadeInUp img-custom-anim-left" data-wow-delay=".6s">
                CREATIVE <br>
                DIGITAL AGENCY
              </h5>
              <p class="tz-banner2__desc tz-text-l">
                We’re a team of expert designers, web developers and marketers
                who’ve been delivering a decade.
              </p>
            </div>
            <!-- <div class="col-md-3">
              <div class="tz-banner2__shape1">
                <img class="follow-mouse" src="assets/images/banner/banner2-shape1.svg" alt="shape">
              </div>
            </div> -->
          </div>
          <div class="row g-4 d-flex justify-content-between tz-pt-lg-60">
            <div class="col-md-2">
              <a class='tz-banner2__btn tz-text-m follow-mouse' href='about.html'>
                <span class="d-flex flex-column align-items-center justify-content-center gap-2 text-center fw-medium">
                  <i class="ph ph-arrow-up-right"></i>
                  Explore Now
                </span>
              </a>
            </div>
            <div class="col-md-8">
              <img class="wow fadeInUp img-custom-anim-left" data-wow-delay=".5s" src="assets/images/banner/banner2-img.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <img src="assets/images/about/about1-shape.svg" class="tz-banner2__shape2 floating" alt="">
      <div class="tz-banner2__social">
        <div class="tz-wwa1-card__social-links d-flex flex-column align-items-center gap-2">
          <h5 class="tz-wwa1-card__social-follow">
            <a href="#">Follow US</a>
          </h5>
          <div class="tz-wwa1-card__social-line"></div>
          <div class="tz-wwa1-card__social-logo">
            <a href="#"><i class="ph ph-meta-logo"></i></a>
          </div>
          <div class="tz-wwa1-card__social-logo">
            <a href="#"><i class="ph ph-x-logo"></i></a>
          </div>
          <div class="tz-wwa1-card__social-logo">
            <a href="#"><i class="ph ph-pinterest-logo"></i></a>
          </div>
          <div class="tz-wwa1-card__social-logo">
            <a href="#"><i class="ph ph-linkedin-logo"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Banner End -->