<style>
  @media (min-width: 992px) {
    .tz-banner1-info.hero-one-info {
      padding-top: 150px; /* adjust as needed */
    }
  }
</style>
<!-- Banner Start -->
<section class="tz-banner1">
  <div class="container" style="padding-bottom:45px;">
    <img
      src="assets/images/banner/banner1-gradient-left.png"
      alt="img"
      class="position-absolute bottom-0 start-0"
    />
    <img
      src="assets/images/banner/banner1-gradient-right.png"
      alt="img"
      class="position-absolute top-0 end-0"
    />
    <!-- <img
      src="assets/images/banner/banner1-shape1.png"
      alt="img"
      class="tz-banner1__shape1"
    />
    <img
      src="assets/images/banner/banner1-shape2.svg"
      alt="img"
      class="tz-banner1__shape2 floating"
    /> -->
    <div class="row g-5 d-flex justify-content-between">
      <div class="col-xl-5">
        <h5
          class="tz-banner1__title1 text-uppercase tz-text-neutral5 position-relative z-1 poppins-black"
        >
          Your Full-Stack Digital Partner
        </h5>
        <h5
          class="tz-banner1__title1 text-uppercase tz-text-secondary poppins-black"
          style="color:#caf301 !important;"
        >
          for Growth That Matters.
        </h5>
        <div class="tz-banner1-content">
          <p class="tz-banner1__desc tz-text-l tz-text-neutral6 tz-pb-xl-30">
            From strategy to execution, we bring together brand storytelling,
            performance-driven marketing, modern web development, and
            future-ready digital transformation — to help your business scale
            faster, smarter, and stronger.
          </p>
          <div class="tz-buttons follow-mouse">
            <a class="tz-button text-uppercase fw-medium tz-text-m" href="/">
              Let's Build Together</a
            >
            <a class="tz-button-circle" href="/"
              ><i class="ph ph-arrow-up-right"></i></a
            >
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="tz-banner1-info hero-one-info">
          <div class="tz-banner1-content2">
            <p class="tz-banner1__desc tz-text-l tz-text-neutral6"></p>
          </div>
          <div class="tz-banner1-highlight follow-mouse">
            <!-- <div
              class="tz-banner1-highlight__avatars wow fadeInUp img-custom-anim-right"
              data-wow-delay=".6s"
            >
              <img
                src="assets/images/banner/banner1-avatar1.png"
                alt="Client 1"
                class="tz-banner1-highlight__avatar"
              />
              <img
                src="assets/images/banner/banner1-avatar2.png"
                alt="Client 2"
                class="tz-banner1-highlight__avatar"
              />
              <img
                src="assets/images/banner/banner1-avatar3.png"
                alt="Client 2"
                class="tz-banner1-highlight__avatar"
              />
              <span
                class="tz-banner1-highlight__badge tz-text-neutral5 tz-text-m fw-medium"
              >
                25k
              </span>
            </div> -->
            <p class="tz-banner1-highlight__text tz-text-l tz-text-primary"></p>
          </div>
        </div>
        <div class="tz-banner1__wrapper mt-2 mt-lg-0">
          <img
            class="wow fadeInUp img-custom-anim-left"
            data-wow-delay=".5s"
            src="assets/images/banner/banner1-img.jpg"
            alt="img"
            class="tz-banner1__image"
          />
          <a class="tz-banner1__circle" href="/">
            <img
              src="assets/images/banner/round-text.png"
              alt=""
              class="tz-banner1__circle-img"
            />
            <div class="tz-banner1__circle-thumb">
              <span class="tz-banner1__circle-icon">
                <i class="ph ph-arrow-down"></i>
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner End -->
