 <!-- Project Start -->
  <section class="tz-project2 tz-bg-neutral2">
    <div class="tz-section-top tz-section-top--centered  wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1">
      <div class="tz-section-subtitle">
        <span class="tz-section-subtitle__line"></span>
        <h4 class="text-uppercase tz-text-primary">SELECTED WORKS</h4>
      </div>
      <div class="tz-section-title tz-display-2 text-uppercase">
        Our finished projects
      </div>
    </div>
    <div class="tz-project2__wrapper">
      <h3 class="tz-project2__title text-uppercase">Case Study</h3>
      <div class="tz-project2__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="tz-project2-card">
              <img class="tz-project2-card__image" src="assets/images/project/project2-img1.jpg" alt="img">
              <div class="tz-project2-card__content">
                <div class="tz-project2-card__category">
                  <span class="tz-project2-card__tag tz-text-s text-uppercase">
                    Branding
                  </span>
                  <span class="tz-project2-card__tag tz-text-s text-uppercase">
                    Graphic Design
                  </span>
                </div>
                <a href="project-details.html">
                  <img src="assets/images/project/project2-arrow.jpg" alt="img" class="tz-project2-card__arrow">
                </a>
                <h2 class="tz-project2-card__title text-uppercase tz-text-neutral1">
                  PixelForge Studio
                </h2>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="tz-project2-card">
              <img class="tz-project2-card__image" src="assets/images/project/project2-img2.jpg" alt="img">
              <div class="tz-project2-card__content">
                <div class="tz-project2-card__category">
                  <span class="tz-project2-card__tag tz-text-s text-uppercase">
                    Branding
                  </span>
                  <span class="tz-project2-card__tag tz-text-s text-uppercase">
                    Graphic Design
                  </span>
                </div>
                <a href="project-details.html">
                  <img src="assets/images/project/project2-arrow.jpg" alt="img" class="tz-project2-card__arrow">
                </a>
                <h2 class="tz-project2-card__title text-uppercase tz-text-neutral1">
                  PixelForge Studio
                </h2>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="tz-project2-card">
              <img class="tz-project2-card__image" src="assets/images/project/project2-img3.jpg" alt="img">
              <div class="tz-project2-card__content">
                <div class="tz-project2-card__category">
                  <span class="tz-project2-card__tag tz-text-s text-uppercase">
                    Branding
                  </span>
                  <span class="tz-project2-card__tag tz-text-s text-uppercase">
                    Graphic Design
                  </span>
                </div>
                <a href="project-details.html">
                  <img src="assets/images/project/project2-arrow.jpg" alt="img" class="tz-project2-card__arrow">
                </a>
                <h2 class="tz-project2-card__title text-uppercase tz-text-neutral1">
                  PixelForge Studio
                </h2>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="tz-project2-card">
              <img class="tz-project2-card__image" src="assets/images/project/project2-img4.jpg" alt="img">
              <div class="tz-project2-card__content">
                <div class="tz-project2-card__category">
                  <span class="tz-project2-card__tag tz-text-s text-uppercase">
                    Branding
                  </span>
                  <span class="tz-project2-card__tag tz-text-s text-uppercase">
                    Graphic Design
                  </span>
                </div>
                <a href="project-details.html">
                  <img src="assets/images/project/project2-arrow.jpg" alt="img" class="tz-project2-card__arrow">
                </a>
                <h2 class="tz-project2-card__title text-uppercase tz-text-neutral1">
                  PixelForge Studio
                </h2>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="tz-project2-card">
              <img class="tz-project2-card__image" src="assets/images/project/project2-img2.jpg" alt="img">
              <div class="tz-project2-card__content">
                <div class="tz-project2-card__category">
                  <span class="tz-project2-card__tag tz-text-s text-uppercase">
                    Branding
                  </span>
                  <span class="tz-project2-card__tag tz-text-s text-uppercase">
                    Graphic Design
                  </span>
                </div>
                <a href="project-details.html">
                  <img src="assets/images/project/project2-arrow.jpg" alt="img" class="tz-project2-card__arrow">
                </a>
                <h2 class="tz-project2-card__title text-uppercase tz-text-neutral1">
                  PixelForge Studio
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tz-project2__slider2 swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="tz-project2-card">
              <img class="tz-project2-card__image" src="assets/images/project/project2-img1.jpg" alt="img">
              <div class="tz-project2-card__content">
                <div class="tz-project2-card__category">
                  <span class="tz-project2-card__tag tz-text-s text-uppercase">
                    Branding
                  </span>
                  <span class="tz-project2-card__tag tz-text-s text-uppercase">
                    Graphic Design
                  </span>
                </div>
                <a href="project-details.html">
                  <img src="assets/images/project/project2-arrow.jpg" alt="img" class="tz-project2-card__arrow">
                </a>
                <h2 class="tz-project2-card__title text-uppercase tz-text-neutral1">
                  PixelForge Studio
                </h2>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="tz-project2-card">
              <img class="tz-project2-card__image" src="assets/images/project/project2-img2.jpg" alt="img">
              <div class="tz-project2-card__content">
                <div class="tz-project2-card__category">
                  <span class="tz-project2-card__tag tz-text-s text-uppercase">
                    Branding
                  </span>
                  <span class="tz-project2-card__tag tz-text-s text-uppercase">
                    Graphic Design
                  </span>
                </div>
                <a href="project-details.html">
                  <img src="assets/images/project/project2-arrow.jpg" alt="img" class="tz-project2-card__arrow">
                </a>
                <h2 class="tz-project2-card__title text-uppercase tz-text-neutral1">
                  PixelForge Studio
                </h2>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="tz-project2-card">
              <img class="tz-project2-card__image" src="assets/images/project/project2-img3.jpg" alt="img">
              <div class="tz-project2-card__content">
                <div class="tz-project2-card__category">
                  <span class="tz-project2-card__tag tz-text-s text-uppercase">
                    Branding
                  </span>
                  <span class="tz-project2-card__tag tz-text-s text-uppercase">
                    Graphic Design
                  </span>
                </div>
                <a href="project-details.html">
                  <img src="assets/images/project/project2-arrow.jpg" alt="img" class="tz-project2-card__arrow">
                </a>
                <h2 class="tz-project2-card__title text-uppercase tz-text-neutral1">
                  PixelForge Studio
                </h2>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="tz-project2-card">
              <img class="tz-project2-card__image" src="assets/images/project/project2-img4.jpg" alt="img">
              <div class="tz-project2-card__content">
                <div class="tz-project2-card__category">
                  <span class="tz-project2-card__tag tz-text-s text-uppercase">
                    Branding
                  </span>
                  <span class="tz-project2-card__tag tz-text-s text-uppercase">
                    Graphic Design
                  </span>
                </div>
                <a href="project-details.html">
                  <img src="assets/images/project/project2-arrow.jpg" alt="img" class="tz-project2-card__arrow">
                </a>
                <h2 class="tz-project2-card__title text-uppercase tz-text-neutral1">
                  PixelForge Studio
                </h2>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="tz-project2-card">
              <img class="tz-project2-card__image" src="assets/images/project/project2-img2.jpg" alt="img">
              <div class="tz-project2-card__content">
                <div class="tz-project2-card__category">
                  <span class="tz-project2-card__tag tz-text-s text-uppercase">
                    Branding
                  </span>
                  <span class="tz-project2-card__tag tz-text-s text-uppercase">
                    Graphic Design
                  </span>
                </div>
                <a href="project-details.html">
                  <img src="assets/images/project/project2-arrow.jpg" alt="img" class="tz-project2-card__arrow">
                </a>
                <h2 class="tz-project2-card__title text-uppercase tz-text-neutral1">
                  PixelForge Studio
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tz-project2__footer">
      <div class="tz-buttons d-flex justify-content-center">
        <a class='tz-button text-uppercase fw-medium tz-text-m' href='portfolio1.html'>
          VIEW ALL PROJECTS</a>
        <a class='tz-button-circle' href='portfolio1.html'><i class="ph ph-arrow-up-right"></i></a>
      </div>
    </div>
  </section>
  <!-- Project End -->