  <!-- Team Start -->
   <!-- add : tz-project2 tz-bg-neutral2 remove: tz-team1  for dark background-->
  <section class="tz-team1">
    <div class="container">
      <div class="tz-section-top">
        <div class="row g-4 wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1">
          <div class="col-md-8">
            <div class="row g-4">
              <div class="col-xl-4">
                <div class="tz-section-subtitle">
                  <span class="tz-section-subtitle__line"></span>
                  <h4 class="text-uppercase tz-text-primary">
                    OUR EXPERT TEAM
                  </h4>
                </div>
              </div>
              <div class="col-xl-7">
                <div class="tz-section-title tz-display-2 text-uppercase">
                  Meet the leadership team
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="tz-buttons d-flex justify-content-start justify-content-md-end">
              <a class='tz-button text-uppercase fw-medium tz-text-m' href='team.html'>
                Explore More</a>
              <a class="tz-button-circle" href="#"><i class="ph ph-arrow-up-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-4">
        <div class="col-md-6 col-xl-3 wow fadeInUp img-custom-anim-left" data-wow-delay=".3s">
          <div class="tz-team1-card">
            <div class="tz-team1-card__image">
              <img src="assets/images/team/team1-img1.jpg" alt="Devon Lane">
            </div>
            <div class="tz-team1-card__info">
              <p class="tz-team1-card__name tz-text-xl fw-semibold">
                Devon Lane
              </p>
              <p class="tz-team1-card__title tz-text-m fw-light mb-0">
                Dog Trainer
              </p>
            </div>
            <div class="tz-team1-card__links">
              <a href="#" class="tz-team1-card__social"><i class="ph ph-facebook-logo"></i></a>
              <a href="#" class="tz-team1-card__social"><i class="ph ph-x-logo"></i></a>
              <a href="#" class="tz-team1-card__social"><i class="ph ph-instagram-logo"></i></a>
              <a href="#" class="tz-team1-card__social"><i class="ph ph-linkedin-logo"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3 wow fadeInUp img-custom-anim-left" data-wow-delay=".4s">
          <div class="tz-team1-card">
            <div class="tz-team1-card__image">
              <img src="assets/images/team/team1-img2.jpg" alt="Devon Lane">
            </div>
            <div class="tz-team1-card__info">
              <p class="tz-team1-card__name tz-text-xl fw-semibold">
                Annette Black
              </p>
              <p class="tz-team1-card__title tz-text-m fw-light mb-0">
                President of Sales
              </p>
            </div>
            <div class="tz-team1-card__links">
              <a href="#" class="tz-team1-card__social"><i class="ph ph-facebook-logo"></i></a>
              <a href="#" class="tz-team1-card__social"><i class="ph ph-x-logo"></i></a>
              <a href="#" class="tz-team1-card__social"><i class="ph ph-instagram-logo"></i></a>
              <a href="#" class="tz-team1-card__social"><i class="ph ph-linkedin-logo"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3 wow fadeInUp img-custom-anim-left" data-wow-delay=".5s">
          <div class="tz-team1-card">
            <div class="tz-team1-card__image">
              <img src="assets/images/team/team1-img3.jpg" alt="Devon Lane">
            </div>
            <div class="tz-team1-card__info">
              <p class="tz-team1-card__name tz-text-xl fw-semibold">
                Savannah Nguyen
              </p>
              <p class="tz-team1-card__title tz-text-m fw-light mb-0">
                Nursing Assistant
              </p>
            </div>
            <div class="tz-team1-card__links">
              <a href="#" class="tz-team1-card__social"><i class="ph ph-facebook-logo"></i></a>
              <a href="#" class="tz-team1-card__social"><i class="ph ph-x-logo"></i></a>
              <a href="#" class="tz-team1-card__social"><i class="ph ph-instagram-logo"></i></a>
              <a href="#" class="tz-team1-card__social"><i class="ph ph-linkedin-logo"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3 wow fadeInUp img-custom-anim-left" data-wow-delay=".6s">
          <div class="tz-team1-card">
            <div class="tz-team1-card__image">
              <img src="assets/images/team/team1-img4.jpg" alt="Devon Lane">
            </div>
            <div class="tz-team1-card__info">
              <p class="tz-team1-card__name tz-text-xl fw-semibold">
                Kristin Watson
              </p>
              <p class="tz-team1-card__title tz-text-m fw-light mb-0">
                Web Designer
              </p>
            </div>
            <div class="tz-team1-card__links">
              <a href="#" class="tz-team1-card__social"><i class="ph ph-facebook-logo"></i></a>
              <a href="#" class="tz-team1-card__social"><i class="ph ph-x-logo"></i></a>
              <a href="#" class="tz-team1-card__social"><i class="ph ph-instagram-logo"></i></a>
              <a href="#" class="tz-team1-card__social"><i class="ph ph-linkedin-logo"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Team End -->