  <!-- Testimonial Start -->
  <section class="tz-testimonial2 tz-bg-neutral3 tz-pt-60 tz-pb-60 tz-pt-lg-120 tz-pb-lg-120">
    <div class="container">
      <div class="tz-section-top">
        <div class="row g-4 wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1">
          <div class="col-md-8">
            <div class="row g-4">
              <div class="col-xl-4">
                <div class="tz-section-subtitle">
                  <span class="tz-section-subtitle__line"></span>
                  <h4 class="text-uppercase tz-text-primary">TESTIMONIAL</h4>
                </div>
              </div>
              <div class="col-xl-7">
                <div class="tz-section-title tz-display-2 text-uppercase">
                  What Our clients say about us
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="tz-testimonial1__shape1 d-md-flex justify-content-end d-none">
              <img src="assets/images/testimonial/testimonial1-shape1.svg" class="floating" alt="shape">
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="tz-testimonial2__slider swiper overflow-hidden wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1">
        <!-- swiper wrapper -->
        <div class="swiper-wrapper">
          <!-- Swiper slide -->
          <div class="swiper-slide">
            <div class="tz-testimonial2__card">
              <div class="row g-4">
                <!--  -->
                <div class="col-xl-3">
                  <div class="tz-testimonial2-trustpoint">
                    <div class="tz-testimonial2-trustpoint__top">
                      <img class="svg tz-testimonial2-trustpoint__shape1" src="assets/images/testimonial/trust.svg"
                        alt="">
                      <span class="tz-testimonial2-trustpoint__label">Trustpilot</span>
                    </div>
                    <div class="tz-testimonial2-trustpoint__star">
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star-half"></i>
                    </div>
                    <p class="tz-testimonial2-trustpoint__desc tz-text-m">
                      Reviews 25,575
                    </p>
                    <div class="tz-total-review-chip">
                      <img src="assets/images/testimonial/clients-1.png" alt="">
                      <img src="assets/images/testimonial/clients-2.png" alt="">
                      <img src="assets/images/testimonial/clients-3.png" alt="">
                      <img src="assets/images/testimonial/clients-2.png" alt="">
                      <div class="tz-total-review-chip__total tz-text-m">
                        40k
                      </div>
                    </div>
                  </div>
                </div>
                <!--  -->

                <!--  -->
                <div class="col-xl-9">
                  <div class="tz-testimonial2-review">
                    <div class="tz-testimonial2-review__image">
                      <img src="assets/images/testimonial/testimonial2-img1.jpg" alt="client review image">
                    </div>
                    <div class="tz-testimonial2-review__body">
                      <div class="tz-testimonial2-review__body-star">
                        <i class="ph-fill ph-star"></i>
                        <i class="ph-fill ph-star"></i>
                        <i class="ph-fill ph-star"></i>
                        <i class="ph-fill ph-star"></i>
                        <i class="ph-fill ph-star-half"></i>
                      </div>
                      <p class="tz-testimonial2-review__body-desc tz-text-l">
                        Outstanding experience! Their ability to translate
                        ideas into functional designs is remarkable. Highly
                        recommend. My project thanks to their expertise
                        support and avility.
                      </p>
                      <div class="tz-testimonial2-review__body-author">
                        <h4 class="tz-testimonial2-review__name">
                          Cameron Williamson
                        </h4>
                        <p class="tz-text-m tz-testimonial2-review__location">
                          USA - April 25, 2024
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--  -->
              </div>
            </div>
          </div>
          <!-- Swiper slide -->
          <!-- Swiper slide -->
          <div class="swiper-slide">
            <div class="tz-testimonial2__card">
              <div class="row g-4">
                <!--  -->
                <div class="col-xl-3">
                  <div class="tz-testimonial2-trustpoint">
                    <div class="tz-testimonial2-trustpoint__top">
                      <img class="svg tz-testimonial2-trustpoint__shape1" src="assets/images/testimonial/trust.svg"
                        alt="">
                      <span class="tz-testimonial2-trustpoint__label">Trustpilot</span>
                    </div>
                    <div class="tz-testimonial2-trustpoint__star">
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star-half"></i>
                    </div>
                    <p class="tz-testimonial2-trustpoint__desc tz-text-m">
                      Reviews 25,575
                    </p>
                    <div class="tz-total-review-chip">
                      <img src="assets/images/testimonial/clients-1.png" alt="">
                      <img src="assets/images/testimonial/clients-2.png" alt="">
                      <img src="assets/images/testimonial/clients-3.png" alt="">
                      <img src="assets/images/testimonial/clients-2.png" alt="">
                      <div class="tz-total-review-chip__total tz-text-m">
                        40k
                      </div>
                    </div>
                  </div>
                </div>
                <!--  -->

                <!--  -->
                <div class="col-xl-9">
                  <div class="tz-testimonial2-review">
                    <div class="tz-testimonial2-review__image">
                      <img src="assets/images/testimonial/testimonial2-img2.jpg" alt="client review image">
                    </div>
                    <div class="tz-testimonial2-review__body">
                      <div class="tz-testimonial2-review__body-star">
                        <i class="ph-fill ph-star"></i>
                        <i class="ph-fill ph-star"></i>
                        <i class="ph-fill ph-star"></i>
                        <i class="ph-fill ph-star"></i>
                        <i class="ph-fill ph-star-half"></i>
                      </div>
                      <p class="tz-testimonial2-review__body-desc tz-text-l">
                        Outstanding experience! Their ability to translate
                        ideas into functional designs is remarkable. Highly
                        recommend. My project thanks to their expertise
                        support and avility.
                      </p>
                      <div class="tz-testimonial2-review__body-author">
                        <h4 class="tz-testimonial2-review__name">
                          Cameron Williamson
                        </h4>
                        <p class="tz-text-m tz-testimonial2-review__location">
                          USA - April 25, 2024
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--  -->
              </div>
            </div>
          </div>
          <!-- Swiper slide -->
          <!-- Swiper slide -->
          <div class="swiper-slide">
            <div class="tz-testimonial2__card">
              <div class="row g-4">
                <!--  -->
                <div class="col-xl-3">
                  <div class="tz-testimonial2-trustpoint">
                    <div class="tz-testimonial2-trustpoint__top">
                      <img class="svg tz-testimonial2-trustpoint__shape1" src="assets/images/testimonial/trust.svg"
                        alt="">
                      <span class="tz-testimonial2-trustpoint__label">Trustpilot</span>
                    </div>
                    <div class="tz-testimonial2-trustpoint__star">
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star-half"></i>
                    </div>
                    <p class="tz-testimonial2-trustpoint__desc tz-text-m">
                      Reviews 25,575
                    </p>
                    <div class="tz-total-review-chip">
                      <img src="assets/images/testimonial/clients-1.png" alt="">
                      <img src="assets/images/testimonial/clients-2.png" alt="">
                      <img src="assets/images/testimonial/clients-3.png" alt="">
                      <img src="assets/images/testimonial/clients-2.png" alt="">
                      <div class="tz-total-review-chip__total tz-text-m">
                        40k
                      </div>
                    </div>
                  </div>
                </div>
                <!--  -->

                <!--  -->
                <div class="col-xl-9">
                  <div class="tz-testimonial2-review">
                    <div class="tz-testimonial2-review__image">
                      <img src="assets/images/testimonial/testimonial2-img1.jpg" alt="client review image">
                    </div>
                    <div class="tz-testimonial2-review__body">
                      <div class="tz-testimonial2-review__body-star">
                        <i class="ph-fill ph-star"></i>
                        <i class="ph-fill ph-star"></i>
                        <i class="ph-fill ph-star"></i>
                        <i class="ph-fill ph-star"></i>
                        <i class="ph-fill ph-star-half"></i>
                      </div>
                      <p class="tz-testimonial2-review__body-desc tz-text-l">
                        Outstanding experience! Their ability to translate
                        ideas into functional designs is remarkable. Highly
                        recommend. My project thanks to their expertise
                        support and avility.
                      </p>
                      <div class="tz-testimonial2-review__body-author">
                        <h4 class="tz-testimonial2-review__name">
                          Cameron Williamson
                        </h4>
                        <p class="tz-text-m tz-testimonial2-review__location">
                          USA - April 25, 2024
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--  -->
              </div>
            </div>
          </div>
          <!-- Swiper slide -->
        </div>
        <!-- swiper wrapper -->

        <!-- Swiper scrollbar -->
        <div class="tz-testimonial2__slider-bottom">
          <div class="swiper-scrollbar"></div>
          <div class="tz-testimonial2__slider-navigation">
            <div class="tz-testimonial2__slider-prev tz-slider-nav">
              <i class="ph ph-caret-left"></i>
            </div>
            <div class="tz-testimonial2__slider-next tz-slider-nav">
              <i class="ph ph-caret-right"></i>
            </div>
          </div>
        </div>
        <!-- Swiper scrollbar -->
      </div>
      <!--  -->
      <!-- Testimonial Brands -->
      <div class="tz-testimonial1-brands tz-pt-lg-120 tz-pt-60">
        <p class="tz-testimonial1-brands__title tz-text-xl tz-text-neutral5 text-uppercase wow img-custom-anim-left" data-wow-delay=".3s">
          TRUSTED BY <br>
          EXCEPTIONAL BRANDS
        </p>
        <div class="tz-testimonial1-brands__slider">
          <div class="brand-carousel">
            <div class="swiper-wrapper d-flex align-items-center">
              <div class="swiper-slide">
                <img src="assets/images/testimonial/company-logo1.png" alt="img"
                  class="tz-testimonial1-brands__slider-img">
              </div>
              <div class="swiper-slide">
                <img src="assets/images/testimonial/company-logo2.png" alt="img"
                  class="tz-testimonial1-brands__slider-img">
              </div>
              <div class="swiper-slide">
                <img src="assets/images/testimonial/company-logo3.png" alt="img"
                  class="tz-testimonial1-brands__slider-img">
              </div>
              <div class="swiper-slide">
                <img src="assets/images/testimonial/company-logo4.png" alt="img"
                  class="tz-testimonial1-brands__slider-img">
              </div>
              <div class="swiper-slide">
                <img src="assets/images/testimonial/company-logo3.png" alt="img"
                  class="tz-testimonial1-brands__slider-img">
              </div>
              <div class="swiper-slide">
                <img src="assets/images/testimonial/company-logo4.png" alt="img"
                  class="tz-testimonial1-brands__slider-img">
              </div>
              <div class="swiper-slide">
                <img src="assets/images/testimonial/company-logo3.png" alt="img"
                  class="tz-testimonial1-brands__slider-img">
              </div>
              <div class="swiper-slide">
                <img src="assets/images/testimonial/company-logo4.png" alt="img"
                  class="tz-testimonial1-brands__slider-img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Testimonial End -->