  <!-- Who We Are Start-->
  <section class="tz-wwa1 tz-pt-60 tz-pb-60 tz-pt-lg-120 tz-pb-lg-120">
    <div class="container">
      <div class="row g-4">
        <div class="col-xl-5">
          <div class="tz-section-top wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1">
            <div class="tz-section-subtitle">
              <span class="tz-section-subtitle__line"></span>
              <h4 class="text-uppercase tz-text-primary">WHO WE ARE</h4>
            </div>
            <div class="tz-section-title tz-display-2 text-uppercase">
              Our agency knows work dominates our lives
            </div>
          </div>
          <img class="wow fadeInUp img-custom-anim-top" data-wow-delay=".3s" src="assets/images/wwa/wwa1-img.jpg" alt="img">
        </div>
        <div class="col-xl-7">
          <div class="row g-4">
            <div class="col-xl-4 col-md-6">
              <div class="tz-wwa1-shape">
                <!-- <img class="follow-mouse" src="assets/images/wwa/wwa1-shape.svg" alt="img"> -->
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="tz-wwa1-card">
                <img src="assets/images/wwa/wwa1-muted-trishape.svg" alt="img" class="tz-wwa1-card__trishape-muted">
                <img src="assets/images/wwa/wwa1-active-trishape.svg" alt="img" class="tz-wwa1-card__trishape-active">
                <div class="tz-wwa1-experience tz-text-neutral5">
                  <div class="tz-wwa1-experience__counter">
                    <h5 class="tz-wwa1-experience__counter-number tz-cn">
                      25
                    </h5>
                    <span class="tz-wwa1-experience__counter-plus tz-display-1 fw-light">+</span>
                  </div>

                  <div class="tz-wwa1-experience__text text-uppercase tz-text-xl">
                    YEARS OF AGENCY EXPERIENCE
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="tz-wwa1-card">
                <img src="assets/images/wwa/wwa1-muted-trishape.svg" alt="img" class="tz-wwa1-card__trishape-muted">
                <img src="assets/images/wwa/wwa1-active-trishape.svg" alt="img" class="tz-wwa1-card__trishape-active">
                <div class="tz-wwa1-experience tz-text-neutral5">
                  <div class="tz-wwa1-experience__counter">
                    <h5 class="tz-wwa1-experience__counter-number-stroke tz-cn">
                      45
                    </h5>
                    <span class="tz-wwa1-experience__counter-plus tz-display-1 fw-light">+</span>
                  </div>

                  <div class="tz-wwa1-experience__text text-uppercase tz-text-xl">
                    EXPERIENCE ENGINEERING MEMBERS
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="tz-wwa1-card">
                <img src="assets/images/wwa/wwa1-muted-trishape.svg" alt="img" class="tz-wwa1-card__trishape-muted">
                <img src="assets/images/wwa/wwa1-active-trishape.svg" alt="img" class="tz-wwa1-card__trishape-active">
                <div class="tz-wwa1-experience tz-text-neutral5">
                  <div class="tz-wwa1-experience__counter">
                    <h5 class="tz-wwa1-experience__counter-number-stroke">
                      5K
                    </h5>
                    <span class="tz-wwa1-experience__counter-plus tz-display-1 fw-light">+</span>
                  </div>

                  <div class="tz-wwa1-experience__text text-uppercase tz-text-xl">
                    EXPERIENCE ENGINEERING MEMBERS
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="tz-wwa1-card">
                <img src="assets/images/wwa/wwa1-muted-trishape.svg" alt="img" class="tz-wwa1-card__trishape-muted">
                <img src="assets/images/wwa/wwa1-active-trishape.svg" alt="img" class="tz-wwa1-card__trishape-active">
                <div class="tz-wwa1-experience tz-text-neutral5">
                  <div class="tz-wwa1-experience__counter">
                    <h5 class="tz-wwa1-experience__counter-number tz-cn">
                      14
                    </h5>
                    <span class="tz-wwa1-experience__counter-plus tz-display-1 fw-light">+</span>
                  </div>

                  <div class="tz-wwa1-experience__text text-uppercase tz-text-xl">
                    GOOD AWARD WINING AGENCY
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="tz-wwa1-card__arrow">
                <a href="#"><img src="assets/images/wwa/wwa1-arrow.png" alt="img"></a>
              </div>
              <div class="tz-wwa1-card__social d-none d-lg-block">
                <div class="tz-wwa1-card__social-links d-flex flex-column align-items-center gap-2">
                  <h5 class="tz-wwa1-card__social-follow">
                    <a href="#">Follow US</a>
                  </h5>
                  <div class="tz-wwa1-card__social-line"></div>
                  <div class="tz-wwa1-card__social-logo">
                    <a href="#"><i class="ph ph-meta-logo"></i></a>
                  </div>
                  <div class="tz-wwa1-card__social-logo">
                    <a href="#"><i class="ph ph-x-logo"></i></a>
                  </div>
                  <div class="tz-wwa1-card__social-logo">
                    <a href="#"><i class="ph ph-pinterest-logo"></i></a>
                  </div>
                  <div class="tz-wwa1-card__social-logo">
                    <a href="#"><i class="ph ph-linkedin-logo"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Who We Are End-->