<!-- Contact Start -->
<div
  class="tz-contact tz-bg-neutral3 tz-pt-60 tz-pb-60 tz-pt-lg-120 tz-pb-lg-120"
>
  <div class="container">
    <div class="tz-section-top tz-section-top--centered">
      <div class="tz-section-subtitle">
        <span class="tz-section-subtitle__line"></span>
        <h4 class="text-uppercase tz-text-primary poppins-bold">CONTACT US</h4>
      </div>
      <div class="tz-section-title tz-display-2 text-uppercase poppins-bold">
        LET’S START A CONVERSATION
      </div>
    </div>
    <div class="row gy-5 gx-60">
      <div class="col-lg-4">
        <!--  -->
        <div class="tz-contact-info-box">
          <div class="tz-contact-info-box__icon">
            <i class="ph ph-phone-call"></i>
          </div>
          <div class="tz-contact-info-box__content">
            <h5 class="tz-contact-info-box__title poppins-bold">
              Call US 24/7
            </h5>
            <a
              class="tz-text-l tz-contact-info-box__link"
              href="tel:9328514323"
            >
              +91 93285 14323
            </a>
          </div>
        </div>
        <!--  -->
        <!--  -->
        <div class="tz-contact-info-box">
          <div class="tz-contact-info-box__icon">
            <i class="ph ph-envelope-simple-open"></i>
          </div>
          <div class="tz-contact-info-box__content">
            <h5 class="tz-contact-info-box__title poppins-bold">
              Email Us Anytime
            </h5>
            <a
              class="tz-text-l tz-contact-info-box__link poppins-bold"
              href="mailto:connect@uncoredigital.com"
            >
              connect@uncoredigital.com
            </a>
          </div>
        </div>
        <!--  -->
        <!--  -->
        <div class="tz-contact-info-box mb-0">
          <div class="tz-contact-info-box__icon">
            <i class="ph ph-map-pin"></i>
          </div>
          <div class="tz-contact-info-box__content">
            <h5 class="tz-contact-info-box__title poppins-bold">
              Our Location
            </h5>
            <a
              class="tz-text-l tz-contact-info-box__link poppins-bold"
              href="mailto:tranthuy.nute@gmail.com"
            >
              Prahladnagar, Ahmedabad
            </a>
          </div>
        </div>
        <!--  -->
      </div>
      <div class="col-lg-8">
        <div class="tz-contact-form">
          <!--  -->
          <div class="tz-section-top text-center">
            <h5 class="tz-section-top__subtitle tz-text-primary poppins-bold">
              Get In Touch
            </h5>
            <h3
              class="tz-section-top__title tz-text-neutral5 mb-0 poppins-bold"
            >
              Have Any Question?
            </h3>
          </div>
          <!--  -->
          <form class="row g-4" action="#">
            <div class="col-xl-6">
              <div class="form-group">
                <label class="tz-text-l" for="name">Your Name*</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Name"
                />
              </div>
            </div>

            <div class="col-xl-6">
              <div class="form-group">
                <label class="tz-text-l" for="email">Email Address*</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Email"
                />
              </div>
            </div>

            <div class="col-xl-6">
              <div class="form-group">
                <label class="tz-text-l" for="number">Phone Number*</label>
                <input
                  type="text"
                  class="form-control"
                  id="number"
                  placeholder="5345345"
                />
              </div>
            </div>

            <div class="col-xl-6">
              <div class="form-group">
                <label class="tz-text-l" for="subject">Subject*</label>
                <input
                  type="text"
                  class="form-control"
                  id="subject"
                  placeholder="Subject"
                />
              </div>
            </div>

            <!-- Text Area for Message -->
            <div class="col-xl-12">
              <div class="form-group">
                <label class="tz-text-l" for="message"
                  >Describe your message*</label
                >
                <textarea
                  class="form-control"
                  id="message"
                  rows="5"
                  placeholder="Message"></textarea>
              </div>
            </div>

            <!-- Submit Button -->
            <div class="col-12">
              <button
                type="submit"
                class="tz-button tz-button--full tz-text-l tz-bg-primary poppins-bold"
              >
                Send Message
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->
