<!-- About Start -->
<section class="tz-about2">
  <div class="container">
    <div class="row g-4">
      <div class="col-xl-9">
        <div class="row g-4">
          <div
            class="col-md-9 wow fadeInUp"
            data-wow-delay=".6s"
            data-wow-duration="1"
          >
            <div class="tz-section-top">
              <div class="tz-section-subtitle">
                <span class="tz-section-subtitle__line"></span>
                <h4 class="text-uppercase tz-text-primary poppins-bold">
                  ABOUT US
                </h4>
              </div>
              <div
                class="tz-section-title tz-display-2 text-uppercase tz-mb-10 poppins-bold"
              >
                Our Approach
              </div>
              <p
                class="tz-about2__desc tz-text-l tz-text-neutral6 fw-light montserrat-regular"
              >
                At Uncore Digital, we take care of the complexities of IT
                services and digital products so that our clients can stay
                focused on what truly matters — their core business. We blend
                the fresh energy of a new generation with the reliability of
                experts.
              </p>
            </div>
          </div>
        </div>
        <div class="row g-4">
          <div class="col-md-5">
            <img
              class="wow fadeInUp img-custom-anim-top"
              data-wow-delay=".3s"
              src="assets/images/about/about2-img1.jpg"
              alt="img"
            />
          </div>
          <div class="col-md-7">
            <div class="tz-about2-content">
              <div
                class="tz-about2__title text-uppercase tz-display-3 tz-text-neutral5 lh-1 tz-pb-10 poppins-bold"
              >
                We’re your Digital Growth Partner
              </div>
              <p
                class="tz-about2__desc tz-text-l tz-text-neutral6 fw-light montserrat-regular"
              >
                We align strategy, design, and technology to unlock scalable
                digital growth. Whether it's branding, marketing, development,
                or transformation — we handle it end to end. <br /><br /> With clear
                focus and agile execution, we solve real challenges, fast. Think
                of us as your extended team — building digital experiences that actually
                move the needle.
              </p>
              <div class="row g-4 tz-pt-30 tz-pt-lg-60 tz-pb-20 tz-pb-lg-40">
                <div
                  class="col-md-6 wow fadeInLeft"
                  data-wow-delay=".6s"
                  data-wow-duration="1"
                >
                  <h4
                    class="tz-about2__subtitle tz-text-neutral5 fw-semibold poppins-bold"
                  >
                    Collaborative Approach
                  </h4>
                  <p
                    class="tz-about2__desc tz-text-l tz-text-neutral6 fw-light montserrat-regular"
                  >
                    We partner with you, not just work for you. Your goals
                    become our blueprint, ensuring each decision moves you
                    closer to success.
                  </p>
                </div>
                <div
                  class="col-md-6 wow fadeInLeft"
                  data-wow-delay=".7s"
                  data-wow-duration="1"
                >
                  <h4
                    class="tz-about2__subtitle tz-text-neutral5 fw-semibold poppins-bold"
                  >
                    Creative Excellence
                  </h4>
                  <p
                    class="tz-about2__desc tz-text-l tz-text-neutral6 fw-light montserrat-regular"
                  >
                    Our creative team designs purposeful experiences not just
                    interfaces. From branding to UX/UI and campaigns, every
                    pixel drives engagement and growth
                  </p>
                </div>
              </div>
              <div class="tz-buttons">
                <a
                  class="tz-button text-uppercase fw-medium tz-text-m"
                  href="/about-us"
                >
                  Know More</a
                >
                <a class="tz-button-circle" href="/about-us"
                  ><i class="ph ph-arrow-up-right"></i></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3">
        <div class="tz-about2-experience">
          <img
            class="wow fadeInUp img-custom-anim-right"
            data-wow-delay=".4s"
            src="assets/images/about/about2-img2.jpg"
            alt="img"
          />
          <div class="row justify-content-center">
            <div class="col-5">
              <div
                class="tz-about2-experience__counter tz-text-neutral5 tz-pt-30 tz-pt-lg-60"
              >
                <h5
                  class="tz-about2-experience__number tz-cn"
                  style="font-size:100px"
                >
                  15
                </h5>
                <span class="tz-about2-experience__plus">+</span>
              </div>
              <p
                class="tz-about2-experience__text tz-text-l tz-text-neutral5 text-uppercase"
              >
                YEARS OF EXPERIENCE
              </p>
            </div>
            <div class="col-5">
              <div
                class="tz-about2-experience__counter tz-text-neutral5 tz-pt-30 tz-pt-lg-60"
              >
                <h5
                  class="tz-about2-experience__number tz-cn"
                  style="font-size:100px"
                >
                  100
                </h5>
                <span class="tz-about2-experience__plus">+</span>
              </div>
              <p
                class="tz-about2-experience__text tz-text-l tz-text-neutral5 text-uppercase text-center"
              >
                clients
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About End -->
