<!-- Workflow Start -->
<section class="tz-workflow1">
  <div class="container">
    <div
      class="tz-section-top tz-section-top--centered wow fadeInUp"
      data-wow-delay=".6s"
      data-wow-duration="1"
    >
      <div class="tz-section-subtitle">
        <span class="tz-section-subtitle__line"></span>
        <h4 class="text-uppercase tz-text-primary poppins-bold">Workflow</h4>
      </div>
      <div class="tz-section-title tz-display-2 text-uppercase poppins-bold">
        HOW WE WORK
      </div>
    </div>
    <div class="tz-workflow1-steps">
      <div
        class="tz-workflow1-card text-center wow fadeInUp"
        data-wow-delay=".6s"
        data-wow-duration="1"
      >
        <h5 class="tz-workflow1-card__step tz-text-neutral6 poppins-bold">
          STEP_01
        </h5>
        <!-- Timeline Track -->
        <div class="tz-workflow1-card__line">
          <span class="tz-workflow1-card__dot"></span>
        </div>
        <!-- Timeline Track -->
        <div class="tz-workflow1-card__content">
          <div
            class="tz-workflow1-card__number tz-display-1 tz-text-neutral1 poppins-bold"
          >
            01
          </div>
          <h3 class="tz-workflow1-card__title tz-text-neutral5 poppins-bold">
            Discover & Strategize
          </h3>
          <p
            class="tz-workflow1-card__desc tz-text-l tz-text-neutral6 montserrat-regular"
          >
            We start by understanding your goals, audience, and challenges.
          </p>
        </div>
      </div>
      <div
        class="tz-workflow1-card text-center wow fadeInUp"
        data-wow-delay=".8s"
        data-wow-duration="1"
      >
        <h5 class="tz-workflow1-card__step tz-text-neutral6 poppins-bold">
          STEP_02
        </h5>
        <!-- Timeline Track -->
        <div class="tz-workflow1-card__line">
          <span class="tz-workflow1-card__dot"></span>
        </div>
        <!-- Timeline Track -->
        <div class="tz-workflow1-card__content">
          <div
            class="tz-workflow1-card__number tz-display-1 tz-text-neutral1 poppins-bold"
          >
            02
          </div>
          <h3 class="tz-workflow1-card__title tz-text-neutral5 poppins-bold">
            Design & Develop
          </h3>
          <p
            class="tz-workflow1-card__desc tz-text-l tz-text-neutral6 montserrat-regular"
          >
            Our creative team brings your vision to cutting-edge development.
          </p>
        </div>
      </div>
      <div
        class="tz-workflow1-card text-center wow fadeInUp"
        data-wow-delay="1s"
        data-wow-duration="1"
      >
        <h5 class="tz-workflow1-card__step tz-text-neutral6 poppins-bold">
          STEP_03
        </h5>
        <!-- Timeline Track -->
        <div class="tz-workflow1-card__line">
          <span class="tz-workflow1-card__dot"></span>
        </div>
        <!-- Timeline Track -->
        <div class="tz-workflow1-card__content">
          <div
            class="tz-workflow1-card__number tz-display-1 tz-text-neutral1 poppins-bold"
          >
            03
          </div>
          <h3 class="tz-workflow1-card__title tz-text-neutral5 poppins-bold">
            Test & Optimize
          </h3>
          <p
            class="tz-workflow1-card__desc tz-text-l tz-text-neutral6 montserrat-regular"
          >
            Before launch, we rigorously test every aspect your project
            flawless.
          </p>
        </div>
      </div>
      <div
        class="tz-workflow1-card text-center wow fadeInUp"
        data-wow-delay="1.2s"
        data-wow-duration="1"
      >
        <h5 class="tz-workflow1-card__step tz-text-neutral6 poppins-bold">
          STEP_04
        </h5>
        <!-- Timeline Track -->
        <div class="tz-workflow1-card__line">
          <span class="tz-workflow1-card__dot"></span>
        </div>
        <!-- Timeline Track -->
        <div class="tz-workflow1-card__content">
          <div
            class="tz-workflow1-card__number tz-display-1 tz-text-neutral1 poppins-bold"
          >
            04
          </div>
          <h3 class="tz-workflow1-card__title tz-text-neutral5 poppins-bold">
            Launch & Grow
          </h3>
          <p
            class="tz-workflow1-card__desc tz-text-l tz-text-neutral6 montserrat-regular"
          >
            We rigorously test every aspect of your project ensure it’s
            flawless.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Workflow End -->
