<!-- Service Start -->
<section class="tz-service1 bg-white">
  <div class="container">
    <div
      class="tz-section-top wow fadeInUp"
      data-wow-delay=".6s"
      data-wow-duration="1"
    >
      <div class="row g-4">
        <div class="col-md-8">
          <div class="tz-section-subtitle">
            <span class="tz-section-subtitle__line"></span>
            <h4 class="text-uppercase tz-text-primary poppins-bold">
              Our Expertise
            </h4>
          </div>
          <div
            class="tz-section-title tz-display-2 text-uppercase poppins-bold text-black"
          >
            What We Do
          </div>
        </div>
        <div class="col-md-4">
          <div
            class="tz-buttons d-flex justify-content-start justify-content-md-end"
          >
            <a
              class="tz-button text-uppercase fw-medium tz-text-m montserrat-regular"
              href="/"
            >
              View More</a
            >
            <a class="tz-button-circle" href="/"
              ><i class="ph ph-arrow-up-right"></i></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row g-4 justify-content-center">
      <div
        class="col-md-6 col-xl-3 wow fadeInUp"
        data-wow-delay=".6s"
        data-wow-duration="1"
      >
        <div class="tz-service1-card active">
          <a class="tz-text-neutral4 d-block" href="/">
            <span class="tz-service1-card__number">I</span>
            <div class="tz-service1-card__content">
              <div
                class="tz-service1-card__shape d-flex justify-content-center tz-mb-20 tz-mb-lg-40"
              >
                <img
                  src="assets/images/service/service1-card-shape1.svg"
                  alt="Graphic Design Icon"
                />
              </div>
              <h3
                class="tz-service1-card__title text-uppercase text-center poppins-bold"
              >
                Digital Marketing
              </h3>
              <!-- <p class="tz-text-l text-center montserrat-semibold">
                Content that connects.<br /> Campaigns that convert.
              </p> -->
              <div
                class="tz-service1-card__desc fw-medium tz-text-l mb-0 montserrat-regular"
                style="margin-top:10px;"
              >
                <p
                  class="tz-service1-card__desc fw-medium tz-text-l mb-0 montserrat-regular text-center"
                >
                  Performance Marketing | Content Strategy | AI-powered SEO |
                  Paid Media | Social Media Marketing | Branding | Lead
                  Generation
                </p>
              </div>
              <div
                class="tz-service1-card__footer d-flex justify-content-center"
              >
                <h5
                  class="mb-0 tz-text-neutral4 montserrat-regular text-center"
                >
                  <u
                    ><a href="/digital-and-brand-marketing" style="color:black"
                      >Read More</a
                    ></u
                  >
                </h5>
              </div>
            </div>
            <div class="tz-service1-card__circle"></div>
          </a>
        </div>
      </div>

      <div
        class="col-md-6 col-xl-3 wow fadeInUp"
        data-wow-delay=".8s"
        data-wow-duration="1"
      >
        <div class="tz-service1-card active">
          <a class="tz-text-neutral4 d-block" href="/">
            <div class="tz-service1-card__number">II</div>
            <div class="tz-service1-card__content">
              <div
                class="tz-service1-card__shape d-flex justify-content-center tz-mb-20 tz-mb-lg-40"
              >
                <img
                  src="assets/images/service/service1-card-shape1.svg"
                  alt="Web Design Icon"
                />
              </div>
              <h3
                class="tz-service1-card__title text-uppercase text-center poppins-bold"
              >
                Product Development
              </h3>
              <!-- <p class="tz-text-l text-center montserrat-semibold">
                From idea to launch — we build it right.
              </p> -->
              <p
                class="tz-service1-card__desc fw-medium tz-text-l text-center mb-0 montserrat-regular"
              >
                UI/UX Design | Web App Development | MVP Launches | Scalable
                Tech | Agile Product Delivery | Cross-platform Solutions
              </p>
              <div
                class="tz-service1-card__footer d-flex justify-content-center"
              >
                <h5
                  class="mb-0 tz-text-neutral4 montserrat-regular text-center"
                >
                  <u
                    ><a
                      href="/product-design-and-development"
                      style="color:black">Read More</a
                    ></u
                  >
                </h5>
              </div>
            </div>
            <div class="tz-service1-card__circle"></div>
          </a>
        </div>
      </div>

      <div
        class="col-md-6 col-xl-3 wow fadeInUp"
        data-wow-delay="1s"
        data-wow-duration="1"
      >
        <div class="tz-service1-card active">
          <a class="tz-text-neutral4 d-block" href="/">
            <div class="tz-service1-card__number">III</div>
            <div class="tz-service1-card__content">
              <div
                class="tz-service1-card__shape d-flex justify-content-center tz-mb-20 tz-mb-lg-40"
              >
                <img
                  src="assets/images/service/service1-card-shape1.svg"
                  alt="img"
                />
              </div>
              <h3
                class="tz-service1-card__title text-uppercase text-center poppins-bold"
              >
                Digital Transformation
              </h3>
              <!-- <p class="tz-text-l text-center montserrat-semibold">
                Smarter workflows. Better tools. More results.
              </p> -->
              <p
                class="tz-service1-card__desc fw-medium tz-text-l text-center mb-0 montserrat-regular"
              >
                Automation | Process Digitization | Cloud Migration | Tech
                Consultation | Custom Enterprise Solutions | System Integration
              </p>
              <div
                class="tz-service1-card__footer d-flex justify-content-center"
              >
                <h5
                  class="mb-0 tz-text-neutral4 montserrat-regular text-center"
                >
                  <u
                    ><a href="/digital-transformation" style="color:black"
                      >Read More</a
                    ></u
                  >
                </h5>
              </div>
            </div>
            <div class="tz-service1-card__circle"></div>
          </a>
        </div>
      </div>

      <!-- <div
        class="col-md-6 col-xl-3 wow fadeInUp"
        data-wow-delay="1.2s"
        data-wow-duration="1"
      >
        <div class="tz-service1-card">
          <a class="tz-text-neutral4 d-block" href="/">
            <div class="tz-service1-card__number">IV</div>
            <div class="tz-service1-card__content">
              <div
                class="tz-service1-card__shape d-flex justify-content-center tz-mb-20 tz-mb-lg-40"
              >
                <img
                  src="assets/images/service/service1-card-shape1.svg"
                  alt="img"
                />
              </div>
              <h3
                class="tz-service1-card__title text-uppercase text-center poppins-bold"
              >
                Webflow Design
              </h3>
              <p
                class="tz-service1-card__desc fw-medium tz-text-l text-center mb-0 montserrat-regular"
              >
                Our graphic design services cover everything from materials to
                digital graphics. We clearly and effectively.
              </p>
              <div class="tz-service1-card__footer">
                <div class="row">
                  <div class="col-6">
                    <h5
                      class="mb-0 text-uppercase tz-text-neutral4 montserrat-regular"
                    >
                      Read More
                    </h5>
                  </div>
                  <div class="col-6">
                    <div class="d-flex justify-content-end">
                      <img
                        src="assets/images/service/service1-card-icon.png"
                        alt="img"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tz-service1-card__circle"></div>
          </a>
        </div>
      </div> -->
    </div>
  </div>
</section>
<!-- Service End -->
