<!-- Team Start --><!-- add : tz-project2 tz-bg-neutral2 remove: tz-team1  for dark background-->
<section class="tz-team1 bg-white">
  <div class="container">
    <div class="tz-section-top">
      <div
        class="row g-4 wow fadeInUp"
        data-wow-delay=".6s"
        data-wow-duration="1"
      >
        <div class="col-md-8">
          <div class="row g-4">
            <div class="col-xl-4">
              <div class="tz-section-subtitle">
                <span class="tz-section-subtitle__line"></span>
                <h4 class="text-uppercase tz-text-primary poppins-semibold">
                  OUR EXPERT TEAM
                </h4>
              </div>
            </div>
            <div class="col-xl-7">
              <div
                class="tz-section-title tz-display-2 text-uppercase poppins-bold text-black"
              >
                Meet the leadership team
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div
            class="tz-buttons d-flex justify-content-start justify-content-md-end"
          >
            <a class="tz-button text-uppercase fw-medium tz-text-m" href="/">
              Explore More</a
            >
            <a class="tz-button-circle" href="#"
              ><i class="ph ph-arrow-up-right"></i></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row g-4">
      <div
        class="col-md-6 col-xl-3 wow fadeInUp img-custom-anim-left"
        data-wow-delay=".3s"
      >
        <div class="tz-team1-card">
          <div class="tz-team1-card__image">
            <img src="assets/images/team/1.png" alt="Rishva" />
          </div>
          <div class="tz-team1-card__info">
            <p
              class="tz-team1-card__name tz-text-xl fw-semibold montserrat-regular text-black"
            >
              Rishva Kharidia
            </p>
            <p
              class="tz-team1-card__title tz-text-m fw-light mb-0 montserrat-regular text-black"
            >
              Chief of Ops & Experience
            </p>
          </div>
          <div class="tz-team1-card__links">
            <a href="#" class="tz-team1-card__social"
              ><i class="ph ph-instagram-logo"></i></a
            >
            <a href="#" class="tz-team1-card__social"
              ><i class="ph ph-linkedin-logo"></i></a
            >
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-xl-3 wow fadeInUp img-custom-anim-left"
        data-wow-delay=".4s"
      >
        <div class="tz-team1-card">
          <div class="tz-team1-card__image">
            <img src="assets/images/team/2.png" alt="Purvi Trivedi" />
          </div>
          <div class="tz-team1-card__info">
            <p class="tz-team1-card__name tz-text-xl fw-semibold text-black">
              Purvi Trivedi
            </p>
            <p class="tz-team1-card__title tz-text-m fw-light mb-0 text-black">
              Chief of Tech & Implementation
            </p>
          </div>
          <div class="tz-team1-card__links">
            <a href="#" class="tz-team1-card__social"
              ><i class="ph ph-instagram-logo"></i></a
            >
            <a href="#" class="tz-team1-card__social"
              ><i class="ph ph-linkedin-logo"></i></a
            >
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-xl-3 wow fadeInUp img-custom-anim-left"
        data-wow-delay=".5s"
      >
        <div class="tz-team1-card">
          <div class="tz-team1-card__image">
            <img src="assets/images/team/3.png" alt="Gabriel Ilyayeff" />
          </div>
          <div class="tz-team1-card__info">
            <p
              class="tz-team1-card__name tz-text-xl fw-semibold montserrat-regular text-black"
            >
              Gabriel Ilyayeff
            </p>
            <p
              class="tz-team1-card__title tz-text-m fw-light mb-0 montserrat-regular text-black"
            >
              Strategic Partner - USA
            </p>
          </div>
          <div class="tz-team1-card__links">
            <a href="#" class="tz-team1-card__social"
              ><i class="ph ph-instagram-logo"></i></a
            >
            <a href="#" class="tz-team1-card__social"
              ><i class="ph ph-linkedin-logo"></i></a
            >
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-xl-3 wow fadeInUp img-custom-anim-left"
        data-wow-delay=".6s"
      >
        <div class="tz-team1-card">
          <div class="tz-team1-card__image">
            <img src="assets/images/team/4.png" alt="Rachit Trivedi" />
          </div>
          <div class="tz-team1-card__info">
            <p class="tz-team1-card__name tz-text-xl fw-semibold text-black">
              Rachit Trivedi
            </p>
            <p class="tz-team1-card__title tz-text-m fw-light mb-0 text-black">
              Technology Consultant
            </p>
          </div>
          <div class="tz-team1-card__links">
            <a href="#" class="tz-team1-card__social"
              ><i class="ph ph-instagram-logo"></i></a
            >
            <a href="#" class="tz-team1-card__social"
              ><i class="ph ph-linkedin-logo"></i></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team End -->
