<style>
  .tz-section-subtitle__line {
    background-color: darkslategray !important;
  }
</style>
<!-- Testimonial Start -->
<section
  class="tz-testimonial2 tz-bg-neutral3 tz-pt-60 tz-pb-60 tz-pt-lg-120 tz-pb-lg-120 bg-white"
>
  <div class="container">
    <div class="tz-section-top">
      <div
        class="row g-4 wow fadeInUp"
        data-wow-delay=".6s"
        data-wow-duration="1"
      >
        <div class="col-md-9">
          <div class="row g-4">
            <div class="col-xl-4">
              <div class="tz-section-subtitle">
                <span class="tz-section-subtitle__line"></span>
                <h4
                  class="text-uppercase tz-text-primary poppins-semibold text-gray"
                >
                  TESTIMONIAL
                </h4>
              </div>
            </div>
            <div class="col-xl-8">
              <div
                class="tz-section-title tz-display-2 text-uppercase poppins-bold text-black"
              >
                What Our clients say about us
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4">
          <div
            class="tz-testimonial1__shape1 d-md-flex justify-content-end d-none"
          >
         
          </div>
        </div> -->
      </div>
    </div>
    <!--  -->
    <div
      class="tz-testimonial2__slider swiper overflow-hidden wow fadeInUp"
      data-wow-delay=".6s"
      data-wow-duration="1"
    >
      <!-- swiper wrapper -->
      <div class="swiper-wrapper">
        <!-- Swiper slide -->
        <div class="swiper-slide">
          <div class="tz-testimonial2__card">
            <div class="row g-4">
              <!--  -->
              <!-- <div class="col-xl-3 bg-white">
                <div class="tz-testimonial2-trustpoint">
                  <div class="tz-testimonial2-trustpoint__top">
                    <img
                      class="svg tz-testimonial2-trustpoint__shape1"
                      src="assets/images/testimonial/trust.svg"
                      alt=""
                    />
                    <span class="tz-testimonial2-trustpoint__label"
                      >Trustpilot</span
                    >
                  </div>
                  <div class="tz-testimonial2-trustpoint__star">
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star-half"></i>
                  </div>
                  <p class="tz-testimonial2-trustpoint__desc tz-text-m">
                    Reviews 25,575
                  </p>
                  <div class="tz-total-review-chip">
                    <img src="assets/images/testimonial/clients-1.png" alt="" />
                    <img src="assets/images/testimonial/clients-2.png" alt="" />
                    <img src="assets/images/testimonial/clients-3.png" alt="" />
                    <img src="assets/images/testimonial/clients-2.png" alt="" />
                    <div class="tz-total-review-chip__total tz-text-m">40k</div>
                  </div>
                </div>
              </div> -->
              <!--  -->

              <!--  -->
              <div class="col-xl-9 mx-auto">
                <div class="tz-testimonial2-review">
                  <div class="tz-testimonial2-review__image">
                    <!-- <img
                      src="assets/images/testimonial/testimonial2-img1.jpg"
                      alt="client review image"
                    /> -->
                  </div>
                  <div class="tz-testimonial2-review__body">
                    <div class="tz-testimonial2-review__body-star">
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star-half"></i>
                    </div>
                    <p
                      class="tz-testimonial2-review__body-desc tz-text-l montserrat-regular text-black"
                    >
                      Working with Uncore felt less like hiring an agency and
                      more like extending our own team. They truly listened,
                      challenged our thinking, and helped us build a digital
                      foundation we trust.
                    </p>
                    <div class="tz-testimonial2-review__body-author">
                      <h4
                        class="tz-testimonial2-review__name montserrat-regular text-black"
                      >
                        Radhika S.
                      </h4>
                      <p
                        class="tz-text-m tz-testimonial2-review__location montserrat-regular text-black"
                      >
                        Co-Founder, Fintech Startup
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
            </div>
          </div>
        </div>
        <!-- Swiper slide -->

        <!-- Swiper slide -->
        <div class="swiper-slide">
          <div class="tz-testimonial2__card">
            <div class="row g-4">
              <!--  -->
              <!-- <div class="col-xl-3">
                <div class="tz-testimonial2-trustpoint">
                  <div class="tz-testimonial2-trustpoint__top">
                    <img
                      class="svg tz-testimonial2-trustpoint__shape1"
                      src="assets/images/testimonial/trust.svg"
                      alt=""
                    />
                    <span class="tz-testimonial2-trustpoint__label"
                      >Trustpilot</span
                    >
                  </div>
                  <div class="tz-testimonial2-trustpoint__star">
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star-half"></i>
                  </div>
                  <p class="tz-testimonial2-trustpoint__desc tz-text-m">
                    Reviews 25,575
                  </p>
                  <div class="tz-total-review-chip">
                    <img src="assets/images/testimonial/clients-1.png" alt="" />
                    <img src="assets/images/testimonial/clients-2.png" alt="" />
                    <img src="assets/images/testimonial/clients-3.png" alt="" />
                    <img src="assets/images/testimonial/clients-2.png" alt="" />
                    <div class="tz-total-review-chip__total tz-text-m">40k</div>
                  </div>
                </div>
              </div> -->
              <!--  -->

              <!--  -->
              <div class="col-xl-9 mx-auto">
                <div class="tz-testimonial2-review">
                  <div class="tz-testimonial2-review__image">
                    <!-- <img
                      src="assets/images/testimonial/testimonial2-img2.jpg"
                      alt="client review image"
                    /> -->
                  </div>
                  <div class="tz-testimonial2-review__body">
                    <div class="tz-testimonial2-review__body-star">
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star-half"></i>
                    </div>
                    <p
                      class="tz-testimonial2-review__body-desc tz-text-l montserrat-regular text-black"
                    >
                      Every time we had a challenge — whether it was messaging,
                      a site bug, or a last-minute campaign — the Uncore team
                      was there. Reliable, smart, and very grounded.
                    </p>
                    <div class="tz-testimonial2-review__body-author">
                      <h4
                        class="tz-testimonial2-review__name montserrat-regular text-black"
                      >
                        Harsh P.
                      </h4>
                      <p
                        class="tz-text-m tz-testimonial2-review__location montserrat-regular text-black"
                      >
                        Co-founder, SaaS Company
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
            </div>
          </div>
        </div>
        <!-- Swiper slide -->

        <!-- Swiper slide -->
        <div class="swiper-slide">
          <div class="tz-testimonial2__card">
            <div class="row g-4">
              <!--  -->
              <!-- <div class="col-xl-3">
                <div class="tz-testimonial2-trustpoint">
                  <div class="tz-testimonial2-trustpoint__top">
                    <img
                      class="svg tz-testimonial2-trustpoint__shape1"
                      src="assets/images/testimonial/trust.svg"
                      alt=""
                    />
                    <span class="tz-testimonial2-trustpoint__label"
                      >Trustpilot</span
                    >
                  </div>
                  <div class="tz-testimonial2-trustpoint__star">
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star-half"></i>
                  </div>
                  <p class="tz-testimonial2-trustpoint__desc tz-text-m">
                    Reviews 25,575
                  </p>
                  <div class="tz-total-review-chip">
                    <img src="assets/images/testimonial/clients-1.png" alt="" />
                    <img src="assets/images/testimonial/clients-2.png" alt="" />
                    <img src="assets/images/testimonial/clients-3.png" alt="" />
                    <img src="assets/images/testimonial/clients-2.png" alt="" />
                    <div class="tz-total-review-chip__total tz-text-m">40k</div>
                  </div>
                </div>
              </div> -->
              <!--  -->

              <!--  -->
              <div class="col-xl-9 mx-auto">
                <div class="tz-testimonial2-review">
                  <div class="tz-testimonial2-review__image">
                    <!-- <img
                      src="assets/images/testimonial/testimonial2-img2.jpg"
                      alt="client review image"
                    /> -->
                  </div>
                  <div class="tz-testimonial2-review__body">
                    <div class="tz-testimonial2-review__body-star">
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star-half"></i>
                    </div>
                    <p
                      class="tz-testimonial2-review__body-desc tz-text-l montserrat-regular text-black"
                    >
                      What I appreciated most was the clarity - no jargon, no
                      over-promising. Just clear goals, consistent updates, and
                      real results. Our brand finally looks and performs the way
                      we envisioned.
                    </p>
                    <div class="tz-testimonial2-review__body-author">
                      <h4
                        class="tz-testimonial2-review__name montserrat-regular text-black"
                      >
                        Amit T.
                      </h4>
                      <p
                        class="tz-text-m tz-testimonial2-review__location montserrat-regular text-black"
                      >
                        Head of Marketing, Consumer Brand
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
            </div>
          </div>
        </div>
        <!-- Swiper slide -->

        <!-- Swiper slide -->
        <div class="swiper-slide">
          <div class="tz-testimonial2__card">
            <div class="row g-4">
              <!--  -->
              <!-- <div class="col-xl-3">
                <div class="tz-testimonial2-trustpoint">
                  <div class="tz-testimonial2-trustpoint__top">
                    <img
                      class="svg tz-testimonial2-trustpoint__shape1"
                      src="assets/images/testimonial/trust.svg"
                      alt=""
                    />
                    <span class="tz-testimonial2-trustpoint__label"
                      >Trustpilot</span
                    >
                  </div>
                  <div class="tz-testimonial2-trustpoint__star">
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star-half"></i>
                  </div>
                  <p class="tz-testimonial2-trustpoint__desc tz-text-m">
                    Reviews 25,575
                  </p>
                  <div class="tz-total-review-chip">
                    <img src="assets/images/testimonial/clients-1.png" alt="" />
                    <img src="assets/images/testimonial/clients-2.png" alt="" />
                    <img src="assets/images/testimonial/clients-3.png" alt="" />
                    <img src="assets/images/testimonial/clients-2.png" alt="" />
                    <div class="tz-total-review-chip__total tz-text-m">40k</div>
                  </div>
                </div>
              </div> -->
              <!--  -->

              <!--  -->
              <div class="col-xl-9 mx-auto">
                <div class="tz-testimonial2-review">
                  <div class="tz-testimonial2-review__image">
                    <!-- <img
                      src="assets/images/testimonial/testimonial2-img2.jpg"
                      alt="client review image"
                    /> -->
                  </div>
                  <div class="tz-testimonial2-review__body">
                    <div class="tz-testimonial2-review__body-star">
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star-half"></i>
                    </div>
                    <p
                      class="tz-testimonial2-review__body-desc tz-text-l montserrat-regular text-black"
                    >
                      We’ve worked with a few agencies in the past, but Uncore
                      stood out for their strategic clarity and responsiveness.
                      They understood the nuances of our industry and delivered
                      beyond expectations.
                    </p>
                    <div class="tz-testimonial2-review__body-author">
                      <h4
                        class="tz-testimonial2-review__name montserrat-regular text-black"
                      >
                        J. Smith, Founder
                      </h4>
                      <p
                        class="tz-text-m tz-testimonial2-review__location montserrat-regular text-black"
                      >
                        CPA Tech Advisory (New York, USA)
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
            </div>
          </div>
        </div>
        <!-- Swiper slide -->

        <!-- Swiper slide -->
        <div class="swiper-slide">
          <div class="tz-testimonial2__card">
            <div class="row g-4">
              <!--  -->
              <!-- <div class="col-xl-3">
                <div class="tz-testimonial2-trustpoint">
                  <div class="tz-testimonial2-trustpoint__top">
                    <img
                      class="svg tz-testimonial2-trustpoint__shape1"
                      src="assets/images/testimonial/trust.svg"
                      alt=""
                    />
                    <span class="tz-testimonial2-trustpoint__label"
                      >Trustpilot</span
                    >
                  </div>
                  <div class="tz-testimonial2-trustpoint__star">
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star-half"></i>
                  </div>
                  <p class="tz-testimonial2-trustpoint__desc tz-text-m">
                    Reviews 25,575
                  </p>
                  <div class="tz-total-review-chip">
                    <img src="assets/images/testimonial/clients-1.png" alt="" />
                    <img src="assets/images/testimonial/clients-2.png" alt="" />
                    <img src="assets/images/testimonial/clients-3.png" alt="" />
                    <img src="assets/images/testimonial/clients-2.png" alt="" />
                    <div class="tz-total-review-chip__total tz-text-m">40k</div>
                  </div>
                </div>
              </div> -->
              <!--  -->

              <!--  -->
              <div class="col-xl-9 mx-auto">
                <div class="tz-testimonial2-review">
                  <div class="tz-testimonial2-review__image">
                    <!-- <img
                      src="assets/images/testimonial/testimonial2-img2.jpg"
                      alt="client review image"
                    /> -->
                  </div>
                  <div class="tz-testimonial2-review__body">
                    <div class="tz-testimonial2-review__body-star">
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star-half"></i>
                    </div>
                    <p
                      class="tz-testimonial2-review__body-desc tz-text-l montserrat-regular text-black"
                    >
                      What impressed us most was Uncore’s ability to adapt to
                      our market. They brought a fresh perspective, respected
                      our timelines, and delivered creative that felt both
                      global and local.
                    </p>
                    <div class="tz-testimonial2-review__body-author">
                      <h4
                        class="tz-testimonial2-review__name montserrat-regular text-black"
                      >
                        Ayesha R.
                      </h4>
                      <p
                        class="tz-text-m tz-testimonial2-review__location montserrat-regular text-black"
                      >
                        Marketing Lead, Healthcare Services
                        (Riyadh, Saudi Arabia)
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
            </div>
          </div>
        </div>
        <!-- Swiper slide -->

        <!-- Swiper slide -->
        <div class="swiper-slide">
          <div class="tz-testimonial2__card">
            <div class="row g-4">
              <!--  -->
              <!-- <div class="col-xl-3">
                <div class="tz-testimonial2-trustpoint">
                  <div class="tz-testimonial2-trustpoint__top">
                    <img
                      class="svg tz-testimonial2-trustpoint__shape1"
                      src="assets/images/testimonial/trust.svg"
                      alt=""
                    />
                    <span class="tz-testimonial2-trustpoint__label"
                      >Trustpilot</span
                    >
                  </div>
                  <div class="tz-testimonial2-trustpoint__star">
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star"></i>
                    <i class="ph-fill ph-star-half"></i>
                  </div>
                  <p class="tz-testimonial2-trustpoint__desc tz-text-m">
                    Reviews 25,575
                  </p>
                  <div class="tz-total-review-chip">
                    <img src="assets/images/testimonial/clients-1.png" alt="" />
                    <img src="assets/images/testimonial/clients-2.png" alt="" />
                    <img src="assets/images/testimonial/clients-3.png" alt="" />
                    <img src="assets/images/testimonial/clients-2.png" alt="" />
                    <div class="tz-total-review-chip__total tz-text-m">40k</div>
                  </div>
                </div>
              </div> -->
              <!--  -->

              <!--  -->
              <div class="col-xl-9 mx-auto">
                <div class="tz-testimonial2-review">
                  <div class="tz-testimonial2-review__image">
                    <!-- <img
                      src="assets/images/testimonial/testimonial2-img1.jpg"
                      alt="client review image"
                    /> -->
                  </div>
                  <div class="tz-testimonial2-review__body">
                    <div class="tz-testimonial2-review__body-star">
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star"></i>
                      <i class="ph-fill ph-star-half"></i>
                    </div>
                    <p
                      class="tz-testimonial2-review__body-desc tz-text-l montserrat-regular text-black"
                    >
                      Uncore understood our mission, not just our brief. Their
                      team made our communication more strategic without losing
                      our voice. It never felt like just another marketing job
                      to them.
                    </p>
                    <div class="tz-testimonial2-review__body-author">
                      <h4
                        class="tz-testimonial2-review__name montserrat-regular"
                      >
                        Rohit Pandya
                      </h4>
                      <p
                        class="tz-text-m tz-testimonial2-review__location montserrat-regular text-black"
                      >
                        Co-Founder, Social Impact Org
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
            </div>
          </div>
        </div>
        <!-- Swiper slide -->
      </div>
      <!-- swiper wrapper -->

      <!-- Swiper scrollbar -->
      <div class="tz-testimonial2__slider-bottom">
        <div class="swiper-scrollbar"></div>
        <div class="tz-testimonial2__slider-navigation">
          <div class="tz-testimonial2__slider-prev tz-slider-nav">
            <i class="ph ph-caret-left"></i>
          </div>
          <div class="tz-testimonial2__slider-next tz-slider-nav">
            <i class="ph ph-caret-right"></i>
          </div>
        </div>
      </div>
      <!-- Swiper scrollbar -->
    </div>
    <!--  -->
    <!-- Testimonial Brands -->
    <!-- <div class="tz-testimonial1-brands tz-pt-lg-120 tz-pt-60">
      <p
        class="tz-testimonial1-brands__title tz-text-xl tz-text-neutral5 text-uppercase wow img-custom-anim-left montserrat-regular text-black"
        data-wow-delay=".3s"
      >
        TRUSTED BY <br />
        EXCEPTIONAL BRANDS
      </p>
      <div class="tz-testimonial1-brands__slider">
        <div class="brand-carousel">
          <div class="swiper-wrapper d-flex align-items-center">
          
            <div class="swiper-slide">
              <img src="assets/images/testimonial/1.png" alt="img" class="" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/testimonial/2.png" alt="img" class="" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/testimonial/3.png" alt="img" class="" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/testimonial/4.png" alt="img" class="" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/testimonial/5.png" alt="img" class="" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/testimonial/6.png" alt="img" class="" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/testimonial/7.png" alt="img" class="" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/testimonial/8.png" alt="img" class="" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/testimonial/9.png" alt="img" class="" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/testimonial/10.png" alt="img" class="" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/testimonial/11.png" alt="img" class="" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/testimonial/12.png" alt="img" class="" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/testimonial/13.png" alt="img" class="" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/testimonial/14.png" alt="img" class="" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/testimonial/15.png" alt="img" class="" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/testimonial/16.png" alt="img" class="" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/testimonial/17.png" alt="img" class="" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/testimonial/18.png" alt="img" class="" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/testimonial/19.png" alt="img" class="" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/testimonial/20.png" alt="img" class="" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/testimonial/21.png" alt="img" class="" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/testimonial/22.png" alt="img" class="" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/testimonial/23.png" alt="img" class="" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/testimonial/24.png" alt="img" class="" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/testimonial/25.png" alt="img" class="" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/testimonial/26.png" alt="img" class="" />
            </div>
            <div class="swiper-slide">
              <img src="assets/images/testimonial/27.png" alt="img" class="" />
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
<!-- Testimonial End -->
