<div class="tz-testimonial1-brands tz-pb-60 tz-pt-60 tz-pb-60 bg-white">
  <p
    class="tz-testimonial1-brands__title tz-text-xl tz-text-neutral5 text-uppercase wow img-custom-anim-left montserrat-regular text-black"
    data-wow-delay=".3s"
    style="margin-left:30px;"
  >
    TRUSTED BY <br />
    EXCEPTIONAL BRANDS
  </p>

  <div class="tz-testimonial1-brands__slider">
    <div class="brand-carousel">
      <div class="swiper-wrapper d-flex align-items-center">
        <!-- Slides from 1.png to 27.png -->
        <div class="swiper-slide">
          <img src="assets/images/testimonial/1.png" alt="img" class="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/testimonial/2.png" alt="img" class="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/testimonial/3.png" alt="img" class="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/testimonial/4.png" alt="img" class="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/testimonial/5.png" alt="img" class="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/testimonial/6.png" alt="img" class="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/testimonial/7.png" alt="img" class="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/testimonial/8.png" alt="img" class="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/testimonial/9.png" alt="img" class="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/testimonial/10.png" alt="img" class="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/testimonial/11.png" alt="img" class="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/testimonial/12.png" alt="img" class="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/testimonial/13.png" alt="img" class="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/testimonial/14.png" alt="img" class="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/testimonial/15.png" alt="img" class="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/testimonial/16.png" alt="img" class="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/testimonial/17.png" alt="img" class="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/testimonial/18.png" alt="img" class="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/testimonial/19.png" alt="img" class="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/testimonial/20.png" alt="img" class="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/testimonial/21.png" alt="img" class="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/testimonial/22.png" alt="img" class="" />
        </div>
        <!-- <div class="swiper-slide">
          <img src="assets/images/testimonial/23.png" alt="img" class="" />
        </div> -->
        <div class="swiper-slide">
          <img src="assets/images/testimonial/24.png" alt="img" class="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/testimonial/25.png" alt="img" class="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/testimonial/26.png" alt="img" class="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/testimonial/27.png" alt="img" class="" />
        </div>
      </div>
    </div>
  </div>
</div>
