<div class="tz-testimonial1-brands tz-pt-lg-120 tz-pt-60 tz-pb-60">
  <p
    class="tz-testimonial1-brands__title tz-text-xl tz-text-neutral5 text-uppercase wow img-custom-anim-left montserrat-regular"
    data-wow-delay=".3s"
    style="margin-left:30px;"
  >
    TRUSTED BY <br />
    EXCEPTIONAL BRANDS
  </p>
  <div class="tz-testimonial1-brands__slider">
    <div class="brand-carousel">
      <div class="swiper-wrapper d-flex align-items-center">
        <div class="swiper-slide">
          <img
            src="assets/images/testimonial/company-logo1.png"
            alt="img"
            class="tz-testimonial1-brands__slider-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/testimonial/company-logo2.png"
            alt="img"
            class="tz-testimonial1-brands__slider-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/testimonial/company-logo3.png"
            alt="img"
            class="tz-testimonial1-brands__slider-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/testimonial/company-logo4.png"
            alt="img"
            class="tz-testimonial1-brands__slider-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/testimonial/company-logo3.png"
            alt="img"
            class="tz-testimonial1-brands__slider-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/testimonial/company-logo4.png"
            alt="img"
            class="tz-testimonial1-brands__slider-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/testimonial/company-logo3.png"
            alt="img"
            class="tz-testimonial1-brands__slider-img"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="assets/images/testimonial/company-logo4.png"
            alt="img"
            class="tz-testimonial1-brands__slider-img"
          />
        </div>
      </div>
    </div>
  </div>
</div>
