 <!-- Header Start -->
  <div class="tz-header1">
    <div class="container">
      <div class="tz-header1__wrapper">
        <div class="row">
          <div class="col-4 col-lg-2">
            <a class='tz-header1__logo' href='index-2.html'>
              <img src="assets/images/site-logo.svg" alt="site logo">
            </a>
          </div>
          <div class="col-8 col-lg-10 text-end d-flex align-items-center justify-content-end justify-content-xl-center">
            <div class="tz-header__desktop d-none d-xl-block tz-ml-auto tz-mr-auto">
              <nav class="tz-nav-links d-flex tz-main-menu">
                <ul class="d-inline-flex tz-ml-auto position-relative">
                  <li class="has-dropdown has-homemenu">
                    <a href='index-2.html'> Home </a>
                    <ul class="tz-submenu submenu">
                      <li>
                        <a href='index-2.html'>Home-1</a>
                      </li>
                      <li>
                        <a href='index2.html'>Home-2</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href='about.html'> About Us</a>
                  </li>
                  <li class="has-dropdown">
                    <a href="#"> Services </a>
                    <ul class="tz-submenu submenu">
                      <li>
                        <a href='service1.html'>Service-1</a>
                      </li>
                      <li>
                        <a href='service2.html'>Service-2</a>
                      </li>
                      <li>
                        <a href='service-details.html'>Service Details</a>
                      </li>
                    </ul>
                  </li>
                  <li class="has-dropdown">
                    <a href="#"> Portfolio </a>
                    <ul class="tz-submenu submenu">
                      <li>
                        <a href='portfolio1.html'>Portfolio-1</a>
                      </li>
                      <li>
                        <a href='portfolio2.html'>Portfolio-2</a>
                      </li>
                      <li>
                        <a href='portfolio-details.html'>Portfolio Details</a>
                      </li>
                    </ul>
                  </li>
                  <li class="has-dropdown">
                    <a href="#"> Pages </a>
                    <div class="tz-submenu submenu tz-mega-menu tz-menu-xl">
                      <div class="tz-menu-wrapper">
                        <div class="row">
                          <div class="col-12 col-xl-4 menu">
                            <div class="menu-list mb-20">
                              <nav class="tz-nav-links tz-nav-links--vertical">
                                <ul>
                                  <li>
                                    <a href='index-2.html'>Home-1</a>
                                  </li>
                                  <li>
                                    <a href='index2.html'>Home-2</a>
                                  </li>
                                  <li>
                                    <a href='about.html'>About</a>
                                  </li>
                                  <li>
                                    <a href='service1.html'>Service-1</a>
                                  </li>
                                  <li>
                                    <a href='service2.html'>Service-2</a>
                                  </li>
                                  <li>
                                    <a href='service-details.html'>Service Details</a>
                                  </li>
                                </ul>
                              </nav>
                            </div>
                          </div>
                          <div class="col-12 col-xl-4 menu">
                            <div class="menu-list mb-20">
                              <nav class="tz-nav-links tz-nav-links--vertical">
                                <ul>
                                  <li>
                                    <a href='portfolio1.html'>Portfolio-1</a>
                                  </li>
                                  <li>
                                    <a href='portfolio2.html'>Portfolio-2</a>
                                  </li>
                                  <li>
                                    <a href='portfolio-details.html'>Portfolio Details</a>
                                  </li>
                                  <li>
                                    <a href='faq.html'>FAQ</a>
                                  </li>
                                  <li>
                                    <a href='pricing.html'>Pricing</a>
                                  </li>
                                </ul>
                              </nav>
                            </div>
                          </div>
                          <div class="col-12 col-xl-4 menu">
                            <div class="menu-list mb-20">
                              <nav class="tz-nav-links tz-nav-links--vertical">
                                <ul>
                                  <li>
                                    <a href='blog.html'>Blog</a>
                                  </li>
                                  <li>
                                    <a href='blog-details.html'>Blog Details</a>
                                  </li>
                                  <li>
                                    <a href='team.html'>Team</a>
                                  </li>
                                  <li>
                                    <a href='team-details.html'>Team Details</a>
                                  </li>
                                  <li>
                                    <a href='404.html'>404</a>
                                  </li>
                                  <li>
                                    <a href='contact.html'> Contact </a>
                                  </li>
                                </ul>
                              </nav>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="d-none d-md-flex align-items-center justify-content-end gap-2">
              <div class="tz-buttons">
                <a class='tz-button text-uppercase fw-medium tz-text-m' href='contact.html'>
                  Get Started</a>
                <a class='tz-button-circle' href='contact.html'><i class="ph ph-arrow-up-right"></i></a>
              </div>
            </div>
            <button class="tz-button d-inline-flex d-xl-none tz-offcanvas-btn tz-offcanvas-open-btn ms-4">
              <i class="ph ph-list"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->