<div class="tz-header1">
  <div class="container">
    <div class="tz-header1__wrapper">
      <div class="row">
        <div class="col-4 col-lg-2 d-flex align-items-center">
          <a class="tz-header1__logo" href="/">
            <a class="tz-header1__logo" href="/">
              <img
                class="logo-light"
                src="/assets/images/logo/uncore-logo.png"
                alt="Logo Light"
              />
            </a>
          </a>
        </div>
        <div
          class="col-8 col-lg-10 text-end d-flex align-items-center justify-content-end justify-content-xl-center"
        >
          <div
            class="tz-header__desktop d-none d-xl-block tz-ml-auto tz-mr-auto"
          >
            <nav class="tz-nav-links d-flex tz-main-menu">
              <ul class="d-inline-flex tz-ml-auto position-relative">
                <li>
                  <a href="/" class="montserrat-regular"> Home </a>
                </li>

                <li class="has-dropdown">
                  <a href="/" class="montserrat-regular"> Services </a>
                  <ul class="tz-submenu submenu">
                    <li>
                      <a href="/digital-and-brand-marketing" class="text-nowrap"
                        >Digital & Brand Marketing</a
                      >
                    </li>
                    <li>
                      <a
                        href="/product-design-and-development"
                        class="text-nowrap">Product Design & Development</a
                      >
                    </li>

                    <li>
                      <a href="/website-and-app-development" class="text-nowrap"
                        >Website & App Development</a
                      >
                    </li>
                    <li>
                      <a href="/digital-transformation" class="text-nowrap"
                        >Digital Transformation</a
                      >
                    </li>
                  </ul>
                </li>

                <li class="has-dropdown">
                  <a href="" class="montserrat-regular"> Industries </a>
                  <ul class="tz-submenu submenu">
                    <li>
                      <a href="/cpa-ea" class="montserrat-regular">CPA & EA</a>
                    </li>
                    <li>
                      <a href="/hme-dme" class="montserrat-regular">HME/DME</a>
                    </li>
                    <li>
                      <a href="/" class="montserrat-regular">Automobile</a>
                    </li>
                    <li>
                      <a href="/" class="montserrat-regular"
                        >SAAS & Tech Startups</a
                      >
                    </li>
                    <li>
                      <a href="/" class="montserrat-regular">Event Management</a
                      >
                    </li>
                    <li>
                      <a href="/" class="montserrat-regular">E-Commerce</a>
                    </li>
                    <li>
                      <a href="/" class="montserrat-regular">Manufacturing</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="/about-us" class="montserrat-regular">About</a>
                </li>
                <!-- <li>
                  <a href="/blogs" class="montserrat-regular">Blogs</a>
                </li> -->
              </ul>
            </nav>
          </div>
          <div
            class="d-none d-md-flex align-items-center justify-content-end gap-2"
          >
            <div class="tz-buttons">
              <a
                class="tz-button text-uppercase fw-medium tz-text-m montserrat-regular"
                href="/contact-us"
              >
                Contact Us</a
              >
              <a class="tz-button-circle" href="/contact-us"
                ><i class="ph ph-arrow-up-right"></i></a
              >
            </div>
          </div>
          <button
            class="tz-button d-inline-flex d-xl-none tz-offcanvas-btn tz-offcanvas-open-btn ms-4"
          >
            <i class="ph ph-list"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
