 <!-- Offcanvas -->
  <div class="tz-offcanvas">
    <div class="tz-offcanvas__wrapper pt-4">
      <!--  -->
      <div class="tz-offcanvas__top mb-5">
        <div class="row g-0">
          <div class="col-6">
            <a href='index-2.html'>
              <img src="assets/images/site-logo.svg" alt="logo">
            </a>
          </div>
          <div class="col-6 text-end">
            <button class="tz-button d-inline-flex d-xl-none tz-offcanvas-btn tz-offcanvas-close-btn">
              <i class="ph ph-x"></i>
            </button>
          </div>
        </div>
      </div>
      <!--  -->

      <!--  -->
      <h5 class="tz-text-neutral5">Welcome to</h5>
      <h1 class="tz-text-primary">DigiFlow</h1>
      <p class="tz-text-neutral5 tz-text-l">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      </p>
      <!--  -->

      <!--  -->
      <div class="tz-mobile-menu__wrapper pt-4">
        <nav class="tz-mobile-menu"></nav>
      </div>
      <!--  -->
      <div class="tz-offcanvas__bottom mt-4 d-flex align-items-center justify-content-end gap-2">
        <div class="tz-buttons">
          <a class='tz-button text-uppercase fw-medium tz-text-m' href='contact.html'>
            Get Started</a>
          <a class='tz-button-circle' href='contact.html'><i class="ph ph-arrow-up-right"></i></a>
        </div>
      </div>
      <!--  -->
    </div>
  </div>
  <!-- Offcanvas -->