<div class="row g-4 tz-pt-30 tz-pt-lg-60">
            <div class="col-md-8">
              <div class="tz-service-details__image">
                <img src="assets/images/service/service-details-img3.jpg" alt="img">
              </div>
            </div>
            <div class="col-md-4">
              <div class="tz-service-details__image">
                <img src="assets/images/service/service-details-img4.jpg" alt="img">
              </div>
            </div>
          </div>