---
interface Props {
  title?: string;
  paragraphs?: string[];
  keyFeatures?: string[];
}

const props = Astro.props;

const title = props.title ?? "Key Features";
const paragraphs = props.paragraphs ?? [
  "A strong brand identity is essential for standing out in today’s competitive market. Comprehensive brand design services, including logo creation, color palettes, typography selection.",
  "And visual guidelines that align with your brand’s values and message. I help you create a cohesive look across all platforms to image.",
  "Engage with your target audience, build brand awareness, and foster loyalty through expertly managed social media accounts."
];

const keyFeatures = props.keyFeatures ?? [
  "Frontend development with HTML, JavaScript",
  "CMS integration (WordPress, Webflow)",
  "Custom coding solutions"
];
---

<div class="row g-4 d-flex justify-content-between tz-pt-30 tz-pt-lg-60">
  <div class="col-md-6">
    <h3 class="tz-service-details__subtitle tz-text-neutral5">
      {title}
    </h3>

    {paragraphs.slice(0, 2).map((p) => (
      <p class="tz-service-details__desc tz-text-neutral6 tz-text-l fw-light">
        {p}
      </p>
    ))}
  </div>

  <div class="col-md-5">
    {paragraphs[2] && (
      <p class="tz-service-details__desc tz-text-neutral6 tz-text-l fw-light">
        {paragraphs[2]}
      </p>
    )}

    <ul class="tz-service-details__list tz-text-neutral6 tz-text-l fw-light">
      {keyFeatures.map((feature) => (
        <li class="tz-service-details__item">
          <span class="tz-service-details__list-icon"><i class="ph ph-check"></i></span>
          {feature}
        </li>
      ))}
    </ul>
  </div>
</div>
