<div class="row g-4 d-flex justify-content-between tz-pt-30 tz-pt-lg-60">
            <div class="col-md-8">
              <h2 class="tz-service-details__subtitle tz-text-neutral5">
                Service Overview
              </h2>
              <p class="tz-service-details__desc tz-text-neutral6 tz-text-l fw-light">
                We also offer graphic design services for marketing materials
                such as business cards, brochures, social media graphics, and
                more. Our goal is to create a memorable brand that resonates
                with your target audience.
              </p>
              <p class="tz-service-details__desc tz-text-neutral6 tz-text-l fw-light">
                In today’s competitive landscape, effective digital marketing
                is essential for growth. Improve your website’s visibility 
                Our digital marketing services include:
              </p>
              <div class="tz-service-details__image tz-pt-10 tz-pt-lg-32">
                <img src="assets/images/service/service-details-img2.jpg" alt="img">
              </div>
            </div>
            <div class="col-md-3">
              <div class="tz-service-details-counter">
                <div class="tz-service-details-counter__item">
                  <h1 class="tz-service-details-counter__number tz-display-3 tz-text-neutral5">
                    <span class="tz-cn">17</span>+
                  </h1>
                  <p class="tz-service-details-counter__desc tz-text-neutral6 tz-text-l fw-light">
                    <span>Years of experience this field</span>
                  </p>
                </div>
                <div class="tz-service-details-counter__item">
                  <h1 class="tz-service-details-counter__number tz-display-3 tz-text-neutral5">
                    <span class="tz-cn">40</span>K
                  </h1>
                  <p class="tz-service-details-counter__desc tz-text-neutral6 tz-text-l fw-light">
                    <span>Number of projects completed</span>
                  </p>
                </div>
                <div class="tz-service-details-counter__item">
                  <h1 class="tz-service-details-counter__number tz-display-3 tz-text-neutral5">
                    <span class="tz-cn">7</span>+
                  </h1>
                  <p class="tz-service-details-counter__desc tz-text-neutral6 tz-text-l fw-light">
                    <span>Number of awards achieved</span>
                  </p>
                </div>
              </div>
            </div>
          </div>