---
import ServiceList from "./inner/sidebar/ServiceList.astro";
import CompanyProfile from "./inner/sidebar/CompanyProfile.astro";
import BookCall from "./inner/sidebar/BookCall.astro";
---

<div class="tz-service-details-sidebar">
    <ServiceList />
    <CompanyProfile />
    <BookCall />
</div>