---
import OffCanvas from "../components/OffCanvas.astro";
// use for Home page only
import Header from "../components/Header.astro";
//use for pages other than Home page
import Header2 from "../components/Header2.astro";
import Footer from "../components/Footer.astro";

// Get the current path
// const isHomePage = Astro.url.pathname === "/";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Uncore Digital</title>

    <!-- Phosphor Icon css -->
    <link rel="stylesheet" href="assets/css/phosphoricons.css" />
    <!-- animate css -->
    <link rel="stylesheet" href="assets/css/animate.css" />
    <!-- Magnific Popup css -->
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <!-- Swiper css -->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css" />
    <!-- Animate css -->
    <link rel="stylesheet" href="assets/css/animate.css" />
    <!-- style css -->
    <link rel="stylesheet" href="assets/css/styles.css" />

    <link rel="stylesheet" href="assets/css/fonts.css" />
    <link rel="stylesheet" href="assets/css/logo.css" />
    <slot name="custom-css" />
  </head>
  <body class="tz-bg-neutral3">
    <div class="tz-body-overlay"></div>
    <!-- Preloader -->

    <div class="preloader">
      <div class="spinner-wrap">
        <div class="preloader-logo">
          <img
            src="assets/images/loader/uncore loader.gif"
            alt=""
            class="img-fluid"
          />
        </div>
        <!-- <div class="spinner"></div> -->
      </div>
    </div>

    <!-- Preloader End -->

    <!-- back to to button start-->
    <a href="#" id="scroll-top" class="back-to-top-btn"
      ><i class="ph ph-arrow-up"></i></a
    >
    <!-- back to to button end-->

    <OffCanvas />
    <Header />
    <slot />
    <Footer />
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <!-- JQuery  -->
    <script is:inline src="assets/js/jquery-3.7.1.min.js"></script>
    <!-- bootstrap -->
    <script is:inline src="assets/js/bootstrap.bundle.min.js"></script>
    <!-- Swiper -->
    <script is:inline src="assets/js/swiper-bundle.min.js"></script>
    <!-- FlatPickr -->
    <script is:inline src="assets/js/flatpickr.js"></script>
    <!-- Magnific Popup -->
    <script is:inline src="assets/js/magnific-popup.min.js"></script>
    <!-- Counter up -->
    <script is:inline src="assets/js/counterup.min.js"></script>
    <!-- Wow -->
    <script is:inline src="assets/js/wow.min.js"></script>
    <!-- main js -->
    <script is:inline src="assets/js/main.js"></script>
  </body>
</html>

<style>
  @font-face {
    font-family: "Outfit"; /* Choose a unique and descriptive name for your font */
    src: url("/public/assets/fonts/outfit/OutfitRegular.ttf") format("truetype"); /* Adjust the path as needed */
    font-weight: normal; /* Or specify a different weight if your font has it (e.g., 400, 700) */
    font-style: normal; /* Or 'italic' if your font is italic */
    /* You can add more descriptors here if needed, like font-display */
  }

  @font-face {
    font-family: "Teko"; /* Choose a unique and descriptive name for your font */
    src: url("/public/assets/fonts/teko/Teko-Bold.ttf") format("truetype"); /* Adjust the path as needed */
    font-weight: normal; /* Or specify a different weight if your font has it (e.g., 400, 700) */
    font-style: normal; /* Or 'italic' if your font is italic */
    /* You can add more descriptors here if needed, like font-display */
  }

  @font-face {
    font-family: "Teko Regular"; /* Choose a unique and descriptive name for your font */
    src: url("/public/assets/fonts/teko/Teko-Regular.ttf") format("truetype"); /* Adjust the path as needed */
    font-weight: normal; /* Or specify a different weight if your font has it (e.g., 400, 700) */
    font-style: normal; /* Or 'italic' if your font is italic */
    /* You can add more descriptors here if needed, like font-display */
  }
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    /* font-family: "Outfit", serif; */
  }
  /* h5 {
    font-family: "Teko", serif;
  } */

  .tz-wwa1-card h5 {
    /* font-family: "Outfit", serif; */
  }
</style>
