<!-- Pricing Start -->
<div class="tz-pricing2">
  <div class="container">
    <div class="row g-4">
      <div
        class="col-md-6 col-xl-3 wow fadeInUp"
        data-wow-delay=".4s"
        data-wow-duration="1"
      >
        <div class="tz-section-top">
          <div class="tz-section-subtitle">
            <span class="tz-section-subtitle__line"></span>
            <h4 class="text-uppercase tz-text-primary poppins-bold">
              PRICING PLAN
            </h4>
          </div>
          <div
            class="tz-section-title tz-display-2 text-uppercase poppins-bold"
          >
            Choose your plan
          </div>
        </div>
        <div class="tz-pricing2__toggle">
          <button class="tz-pricing2__1month poppins-regular">01 Monthly</button
          >
          <button class="tz-pricing2__3month active poppins-regular"
            >03 Monthly</button
          >
        </div>
        <!-- <img
          class="follow-mouse"
          src="assets/images/wwa/wwa1-shape.svg"
          alt="img"
        /> -->
      </div>
      <div
        class="col-md-6 col-xl-3 wow fadeInUp"
        data-wow-delay=".6s"
        data-wow-duration="1"
      >
        <div class="tz-pricing2-card">
          <div class="tz-pricing2-card__plan">
            <p
              class="tz-pricing2-card__type tz-text-m text-uppercase tz-text-primary poppins-regular"
            >
              Starter
            </p>
            <div class="tz-pricing2-card__price">
              <div class="tz-pricing2-card__amount tz-display-3">
                <span
                  class="tz-price poppins-bold"
                  data-1monthly="$95"
                  data-3monthly="$45">$45</span
                >
                <sub class="tz-text-xl fw-normal poppins-regular">/ month</sub>
              </div>
            </div>
          </div>
          <ul class="tz-pricing2-card__features tz-text-l tz-text-neutral6">
            <li class="tz-pricing2-card__feature poppins-regular">
              <i class="ph ph-caret-double-right"></i>
              Consulting sessions
            </li>
            <li class="tz-pricing2-card__feature poppins-regular">
              <i class="ph ph-caret-double-right"></i>
              Analysis & recommendations
            </li>
            <li class="tz-pricing2-card__feature poppins-regular">
              <i class="ph ph-caret-double-right"></i>
              Customer management
            </li>
            <li class="tz-pricing2-card__feature poppins-regular">
              <i class="ph ph-caret-double-right"></i>
              Detailed final report
            </li>
            <li class="tz-pricing2-card__feature poppins-regular">
              <i class="ph ph-caret-double-right"></i>
              Support 6 months
            </li>
          </ul>
          <a
            class="tz-button tz-button--style2 tz-textl-l poppins-regular"
            href="contact.html">Get Started</a
          >
        </div>
      </div>
      <div
        class="col-md-6 col-xl-3 wow fadeInUp"
        data-wow-delay=".8s"
        data-wow-duration="1"
      >
        <div class="tz-pricing2-card">
          <div class="tz-pricing2-card__plan">
            <p
              class="tz-pricing2-card__type tz-text-m text-uppercase tz-text-primary poppins-regular"
            >
              BASIC
            </p>
            <div class="tz-pricing2-card__price">
              <div class="tz-pricing2-card__amount tz-display-3">
                <span
                  class="tz-price poppins-bold"
                  data-1monthly="$120"
                  data-3monthly="$60">$60</span
                >
                <sub class="tz-text-xl fw-normal poppins-regular">/ month</sub>
              </div>
            </div>
          </div>
          <ul class="tz-pricing2-card__features tz-text-l tz-text-neutral6">
            <li class="tz-pricing2-card__feature poppins-regular">
              <i class="ph ph-caret-double-right"></i>
              Consulting sessions
            </li>
            <li class="tz-pricing2-card__feature poppins-regular">
              <i class="ph ph-caret-double-right"></i>
              Analysis & recommendations
            </li>
            <li class="tz-pricing2-card__feature poppins-regular">
              <i class="ph ph-caret-double-right"></i>
              Customer management
            </li>
            <li class="tz-pricing2-card__feature poppins-regular">
              <i class="ph ph-caret-double-right"></i>
              Detailed final report
            </li>
            <li class="tz-pricing2-card__feature poppins-regular">
              <i class="ph ph-caret-double-right"></i>
              Support 6 months
            </li>
          </ul>
          <a
            class="tz-button tz-button--style2 tz-textl-l poppins-regular"
            href="contact.html">Get Started</a
          >
        </div>
      </div>
      <div
        class="col-md-6 col-xl-3 wow fadeInUp"
        data-wow-delay="1s"
        data-wow-duration="1"
      >
        <div class="tz-pricing2-card">
          <div class="tz-pricing2-card__plan">
            <p
              class="tz-pricing2-card__type tz-text-m text-uppercase tz-text-primary poppins-regular"
            >
              PREMIUM
            </p>
            <div class="tz-pricing2-card__price">
              <div class="tz-pricing2-card__amount tz-display-3">
                <span
                  class="tz-price poppins-bold"
                  data-1monthly="$140"
                  data-3monthly="$69">$69</span
                >
                <sub class="tz-text-xl fw-normal poppins-regular">/ month</sub>
              </div>
            </div>
          </div>
          <ul class="tz-pricing2-card__features tz-text-l tz-text-neutral6">
            <li class="tz-pricing2-card__feature poppins-regular">
              <i class="ph ph-caret-double-right"></i>
              Consulting sessions
            </li>
            <li class="tz-pricing2-card__feature poppins-regular">
              <i class="ph ph-caret-double-right"></i>
              Analysis & recommendations
            </li>
            <li class="tz-pricing2-card__feature poppins-regular">
              <i class="ph ph-caret-double-right"></i>
              Customer management
            </li>
            <li class="tz-pricing2-card__feature poppins-regular">
              <i class="ph ph-caret-double-right"></i>
              Detailed final report
            </li>
            <li class="tz-pricing2-card__feature poppins-regular">
              <i class="ph ph-caret-double-right"></i>
              Support 6 months
            </li>
          </ul>
          <a
            class="tz-button tz-button--style2 tz-textl-l poppins-regular"
            href="contact.html">Get Started</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Pricing End -->
