
<style>
    .custom-card-container .tz-pricing2-card {
  margin-top: 20px;
}
</style>





<!-- Pricing Start -->
<div class="tz-pricing2 bg-white">
  <div class="container">
    <div class="row g-4">
      <div
        class="col-md-6 col-xl-3 wow fadeInUp"
        data-wow-delay=".4s"
        data-wow-duration="1"
      >
        <div class="tz-section-top">
          <div class="tz-section-subtitle">
            <span class="tz-section-subtitle__line"></span>
            <h4 class="text-uppercase tz-text-primary poppins-bold">
              PRICING PLAN
            </h4>
          </div>
          <div
            class="tz-section-title tz-display-2 text-uppercase poppins-bold text-black"
          >
            Choose your plan
          </div>
        </div>
        <div class="tz-pricing2__toggle">
          <button class="tz-pricing2__1month poppins-regular">01 Monthly</button
          >
          <button class="tz-pricing2__3month poppins-regular">Custom</button>
        </div>
        <!-- <img
          class="follow-mouse"
          src="assets/images/wwa/wwa1-shape.svg"
          alt="img"
        /> -->
      </div>

      <div class="row g-4 pricing-cards-group">
        <div
          class="col-md-6 col-xl-3 wow fadeInUp"
          data-wow-delay=".6s"
          data-wow-duration="1"
        >
          <div class="tz-pricing2-card">
            <div class="tz-pricing2-card__plan">
              <p
                class="tz-pricing2-card__type tz-text-m text-uppercase tz-text-primary poppins-regular"
              >
                Starter
              </p>
              <div class="tz-pricing2-card__price">
                <div class="tz-pricing2-card__amount tz-display-3">
                  <span class="tz-price" data-1monthly="$130">$130</span>
                  <sub class="tz-text-xl fw-normal poppins-regular">/ month</sub
                  >
                </div>
              </div>
            </div>
            <ul class="tz-pricing2-card__features tz-text-l tz-text-neutral6">
              <li class="tz-pricing2-card__feature poppins-regular">
                <i class="ph ph-caret-double-right"></i>
                LinkedIn Lead Generation
              </li>
              <li class="tz-pricing2-card__feature poppins-regular">
                <i class="ph ph-caret-double-right"></i>
                PPC & Retargeting Ads
              </li>
              <!-- <li class="tz-pricing2-card__feature poppins-regular">
              <i class="ph ph-caret-double-right"></i>
              Website Developmeny
            </li>
            <li class="tz-pricing2-card__feature poppins-regular">
              <i class="ph ph-caret-double-right"></i>
              Detailed final report
            </li>
            <li class="tz-pricing2-card__feature poppins-regular">
              <i class="ph ph-caret-double-right"></i>
              Support 6 months
            </li> -->
            </ul>
            <a
              class="tz-button tz-button--style2 tz-textl-l poppins-regular"
              href="/contact-us">Get Started</a
            >
          </div>
        </div>
        <div
          class="col-md-6 col-xl-3 wow fadeInUp"
          data-wow-delay=".8s"
          data-wow-duration="1"
        >
          <div class="tz-pricing2-card">
            <div class="tz-pricing2-card__plan">
              <p
                class="tz-pricing2-card__type tz-text-m text-uppercase tz-text-primary poppins-regular"
              >
                BASIC
              </p>
              <div class="tz-pricing2-card__price">
                <div class="tz-pricing2-card__amount tz-display-3">
                  <span class="tz-price" data-1monthly="$150">$150</span>
                  <sub class="tz-text-xl fw-normal poppins-regular">
                    / month</sub
                  >
                </div>
              </div>
            </div>
            <ul class="tz-pricing2-card__features tz-text-l tz-text-neutral6">
              <li class="tz-pricing2-card__feature poppins-regular">
                <i class="ph ph-caret-double-right"></i>
                Website Design & Development
              </li>
              <li class="tz-pricing2-card__feature poppins-regular">
                <i class="ph ph-caret-double-right"></i>
                Social Media Marketing
              </li>
              <!-- <li class="tz-pricing2-card__feature poppins-regular">
              <i class="ph ph-caret-double-right"></i>
              Customer management
            </li>
            <li class="tz-pricing2-card__feature poppins-regular">
              <i class="ph ph-caret-double-right"></i>
              Detailed final report
            </li>
            <li class="tz-pricing2-card__feature poppins-regular">
              <i class="ph ph-caret-double-right"></i>
              Support 6 months
            </li> -->
            </ul>
            <a
              class="tz-button tz-button--style2 tz-textl-l poppins-regular"
              href="/contact-us">Get Started</a
            >
          </div>
        </div>
        <div
          class="col-md-6 col-xl-3 wow fadeInUp"
          data-wow-delay="1s"
          data-wow-duration="1"
        >
          <div class="tz-pricing2-card">
            <div class="tz-pricing2-card__plan">
              <p
                class="tz-pricing2-card__type tz-text-m text-uppercase tz-text-primary poppins-regular"
              >
                PREMIUM
              </p>
              <div class="tz-pricing2-card__price">
                <div class="tz-pricing2-card__amount tz-display-3">
                  <span class="tz-price" data-1monthly="$200">$200</span>
                  <sub class="tz-text-xl fw-normal poppins-regular">/ month</sub
                  >
                </div>
              </div>
            </div>
            <ul
              class="tz-pricing2-card__features tz-text-l tz-text-neutral6"
              style="margin-bottom: 3px;"
            >
              <li class="tz-pricing2-card__feature poppins-regular">
                <i class="ph ph-caret-double-right"></i>
                Website Development
              </li>
              <li class="tz-pricing2-card__feature poppins-regular">
                <i class="ph ph-caret-double-right"></i>
                Local & National SEO
              </li>
              <li class="tz-pricing2-card__feature poppins-regular">
                <i class="ph ph-caret-double-right"></i>
                Digital Media Marketing
              </li>
              <!-- <li class="tz-pricing2-card__feature poppins-regular">
              <i class="ph ph-caret-double-right"></i>
              Detailed final report
            </li>
            <li class="tz-pricing2-card__feature poppins-regular">
              <i class="ph ph-caret-double-right"></i>
              Support 6 months
            </li> -->
            </ul>
            <a
              class="tz-button tz-button--style2 tz-textl-l poppins-regular"
              style="padding-top=10px;"
              href="/contact-us">Get Started</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Pricing End -->

<!-- Custom Plan Card - Hidden by default -->
<div class="col-12 custom-card-container" style="display: none;">
  <div class="tz-pricing2-card" style="text-align: center; padding: 40px;">
    <div class="tz-pricing2-card__plan">
      <p
        class="tz-pricing2-card__type tz-display-2 tz-text-primary poppins-bold"
      >
        Custom Plan
      </p>
    </div>
    <p class="tz-text-l poppins-regular" style="font-weight: bold;">
      Get a tailored plan that fits your specific business goals and budget.
      Reach out to us and we'll build a strategy just for you.
    </p>
    <a
      class="tz-button tz-button--style2 tz-textl-l poppins-regular"
      href="/contact-us"
    >
      Contact Us for Custom Plan
    </a>
  </div>
</div>



function isHTMLElement(el: Element | null): el is HTMLElement {
  return el instanceof HTMLElement;
}

document.addEventListener('DOMContentLoaded', function () {
  const monthlyBtn = document.querySelector('.tz-pricing2__1month');
  const customBtn = document.querySelector('.tz-pricing2__3month');
  const pricingCardsGroup = document.querySelector('.pricing-cards-group');
  const customCardContainer = document.querySelector('.custom-card-container');

  if (isHTMLElement(monthlyBtn) && isHTMLElement(customBtn) &&
      isHTMLElement(pricingCardsGroup) && isHTMLElement(customCardContainer)) {

    monthlyBtn.addEventListener('click', function () {
      pricingCardsGroup.style.display = 'flex';
      customCardContainer.style.display = 'none';
    });

    customBtn.addEventListener('click', function () {
      pricingCardsGroup.style.display = 'none';
      customCardContainer.style.display = 'block';
    });
  }
});


