<!-- Video Start -->
<div class="tz-video1">
  <div class="container">
    <div class="tz-video1__wrapper">
      <img
        src="assets/images/video/video-img1.jpg"
        alt="img"
        class="tz-video1__image"
      />

      <a
        class="tz-button__ripple popup-video"
        href="https://www.youtube.com/watch?v=MLpWrANjFbI"
      >
        <i class="ph-fill ph-play"></i>
      </a>
      <!-- <div class="tz-video1__circle">
        <img
          src="assets/images/video/video-round-text.png"
          alt="img"
          class="tz-video1__circle-img"
        />
      </div> -->
    </div>
  </div>
</div>
<!-- Video End -->
