<!-- Video Start -->
<div class="tz-video1 py-100">
  <div class="container">
    <div class="row align-items-center g-5">
      <!-- Text Column -->
      <div class="col-lg-6">
        <div class="tz-video1__content">
          <h2 class="tz-video1__heading text-white poppins-bold">
            Why I Chose to Partner with Uncore Digital for Accounting Industry
            Marketing
          </h2>
          <p class="tz-video1__text text-white poppins-regular">
            Gabriel has over a decade of experience advising CPA firms and knows
            what it takes to grow in a competitive market. In this short video,
            he shares why Uncore is the right partner for accounting firms ready
            to digitize and scale
          </p>
        </div>
      </div>

      <!-- Video Column -->
      <div class="col-lg-6">
        <div class="tz-video1__wrapper position-relative">
          <img
            src="assets/images/video/video-img1.jpg"
            alt="img"
            class="tz-video1__image img-fluid"
          />
          <a
            class="tz-button__ripple popup-video"
            href="https://www.youtube.com/watch?v=MLpWrANjFbI"
          >
            <i class="ph-fill ph-play"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Video End -->
